<%
	planner_recipe_portions = current_user.planner_recipes.select{|pr| pr.date > Date.current - 1.day && pr.date < Date.current + 7.day}.map{|pr| pr.planner_shopping_list_portions.reject{|p| p.combi_planner_shopping_list_portion_id != nil}.reject{|p| p.ingredient.name.downcase == 'water'}}.flatten
	combi_portions = current_user.planner_shopping_lists.first.combi_planner_shopping_list_portions
	@shopping_list_portions = planner_recipe_portions + combi_portions
	if @shopping_list_portions.length > 0
		@shopping_list_portions.sort_by!{|p| p.ingredient.name}
	end
%>

<aside id="planner_shopping_list">
	<h2>Shopping List</h2>
	<button id="whisk-add-products">Add products to shopping list</button>
	<script>
		whisk.queue.push(function() {
			whisk.listeners.addClickListener(
				'whisk-add-products',
				'shoppingList.addProductsToList', {
					products: ['6 Almonds', '2 Tablespoons Butter', '2 Pound Chicken Breast']
				}
			);
		});
	</script>
	<button class="list_toggle"><span class="cross icon_char" title="Close shopping list">&#735;</span><span class="chevron_left icon_char" title="Open shopping list">&#706;</span></button>
	<% if @shopping_list_portions.length == 0 %>
		<ul><p>Shopping List is currently empty, move some recipes to your planner to get items added to this list</p></ul>
	<% else %>
		<ul class="planner_sl-recipe_list">
			<% @shopping_list_portions.each do |portion| %>
				<li>
					<p>
						<label>
							<%= check_box_tag "planner_shopping_list_portions[id][add]", "planner_shopping_list_portions_id", false, class: "" %>
							<%= portion.amount %> <%= portion.unit.name %> <%= portion.ingredient.name %>
						</label>
					</p>
					<h5>Use by date:</h5>
					<p><%= date_field_tag "planner_shopping_list_portions[id][date]", Date.current + 2.weeks, min: Date.current %></p>
					<hr />
				</li>
			<% end %>
		</ul>
	<% end %>
</aside>