<%= form_for(@cupboard) do |f| %>
	<div class="field">
		Label <%= f.label :cupboard %><br>
		Location <%= f.text_field :location %><br>
	</div>
	<fieldset id="cupboard-ingredients">

  <fieldset id="cupboard-ingredients">
    <ol>
      <%= f.fields_for :stocks do |stock| %>
        <li class="control-group nested-fields">
					<div class="controls">
						<%= f.label :amount, "Amount:" %>
						<%= f.text_field :amount %>
						<%= f.date_field :use_by_date %>

						<%= f.fields_for :ingredient do |stock_ingredient| %>
							<%= stock_ingredient.select :unit_id, Unit.all.collect { |unit| [ unit.name, unit.id ] } %>
							<%= stock_ingredient.text_field :name, :readonly => true %>
						<% end %>


						<%= link_to_remove_association "remove", f %>
					</div>
				</li>
      <% end %>
    </ol>
		<%= link_to_add_association 'add ingredient', f, :stocks, 'data-association-insertion-node' => "#cupboard-ingredients ol", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|stock| stock.build_ingredient; stock } %>
  </fieldset>
	<div class="actions">
		<%= f.submit "Save" %>
	</div>
<% end %>

<% @stocks.each do |stock| %>
	<div class="stock-block">
		<p><%= stock.amount %> <%= stock.ingredient.unit.name %> of <%= stock.ingredient.name %></p>
		<%= link_to "Update stock details", edit_stock_path(stock) %>
	</div>
<% end %>


