<li class="control-group nested-fields">
  <div class="controls">
    <%= f.label :amount, "Amount:" %>
    <%= f.text_field :amount %>
		<%= f.date_field :use_by_date %>

    <%= f.fields_for :ingredient do |stock_ingredient| %>
			<%= stock_ingredient.select :unit_id, Unit.all.collect { |unit| [ unit.name, unit.unit_number ] } %>
			<%= stock_ingredient.text_field :name, :readonly => true %>
    <% end %>


    <%= link_to_remove_association "remove", f %>
  </div>
</li>