<%= form_for @cupboard do |f| %>
	<%= f.submit "Save" %>
	<div class="field">
		<h2>Stock Location</h2> <%= f.text_field :location %><br>
	</div>
	<br>
	<br>
	<br>
	<% for stock in @stocks %>
		<p><%= stock.ingredient.name %></p>
		<br>
		<%= hidden_field_tag "cupboard[stock_ids][]", stock.id %>
		<%= text_field_tag "cupboard[stock][amount][]", stock.amount %>
		<%= select_tag "cupboard[stock][ingredient][unit][]", options_from_collection_for_select(@units, "id", "name", stock.ingredient.unit.id), :id => stock.ingredient.id %>
		<br>
		<%= check_box_tag "cupboard[stock][id][]", stock.id, nil, {:id => stock.id} %>
		<%= label_tag "cupboard[stock][id][]", "Bin it!", {:for => stock.id} %>
		<br>
		<br>
	<% end %>
	<%= link_to "Add Stock", stock_new_path(:cupboard_id => params[:id]) %>
	<br>
	<br>
	<%= f.submit %>
<% end %>
