<% provide(:title, (@cupboard.setup ? 'Importing shop stock' : "Editing '#{@cupboard.location.to_s}''")) %>
<%= form_for @cupboard, :html => {id: "edit_cupboard_form", class: "edit_cupboard_form"} do |f| %>
	<%= f.submit "Save" %>
	<div class="field">
		<% if @cupboard.setup %>
			<h2>Importing shop stock</h2>
		<% else %>
			<h2>Cupboard description</h2> <%= f.text_field :location %><br>
		<% end %>
	</div>
	<br>
	<br>
	<br>
	<% for stock in @stocks %>
		<p><%= stock.ingredient.name %></p>
		<br>
		<%= text_field_tag "stock_items[#{stock.id}][amount]", stock.amount %>
		<%= select_tag "stock_items[#{stock.id}][unit_number]", options_from_collection_for_select(@units, "unit_number", "name", stock.ingredient.unit.unit_number) %>
		<br>
		<%= check_box_tag "stock_items[#{stock.id}][delete]", stock.id, false %>
		<%= label_tag "stock_items[#{stock.id}][delete]", "Bin it!" %>
		<br>
		<br>
		<div class="item_form--content_row">
			<%= label_tag "stock_items[#{stock.id}][use_by_date]", 'Use by date'  %> <%= date_field_tag "stock_items[#{stock.id}][use_by_date]", stock.use_by_date, min: Date.current, validate: true %>
		</div>
		<div class="item_form--content_row">
			<br />
				<h3>Cupboard</h3>
			<br />
			<% if @cupboard.setup %>
			<p>
				Pick the cupboard you want your new stock to go into
			</p>
			<br />
			<% end %>
			<% @all_cupboards.each do |cupboard| %>
				<%= radio_button_tag "stock_items[#{stock.id}][cupboard]", cupboard.id, ((cupboard.id == @cupboard.id || cupboard.id == @all_cupboards.first.id) ? true : false), class: "fancy_radio_button" %>
				<%= label_tag "stock_items[#{stock.id}][cupboard]_#{cupboard.id}", cupboard.location, class: "fancy_radio_button__label" %>
			<% end %>
		</div>

		<br>
		<br>
		<hr>

	<% end %>
	<%= link_to "Add Stock", stocks_new_path(:cupboard_id => params[:id]) %>
	<br>
	<br>
	<%= f.submit %>
<% end %>
