<%= form_for(@cupboard) do |f| %>  
	<div class="field"> 
		Label <%= f.label :cupboard %><br> 
		Location <%= f.text_field :location %><br>
	</div>
	<fieldset id="cupboard-ingredients">

  <fieldset id="cupboard-ingredients">
    <ol>
      <%= f.fields_for :stocks do |stock| %>
        <%= render 'stock_fields', f: stock %>
      <% end %>
    </ol>
		<%= link_to_add_association 'add ingredient', f, :stocks, 'data-association-insertion-node' => "#cupboard-ingredients ol", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|stock| stock.build_ingredient; stock } %>
  </fieldset>
	<div class="actions"> 
		<%= f.submit "Save" %> 
	</div> 
<% end %>

<% @stocks.each do |stock| %>
	<div class="stock-block">
		<p><%= stock.amount %> <%= stock.ingredient.unit.name %> of <%= stock.ingredient.name %></p>
		<%= link_to "Update stock details", edit_stock_path(stock) %>
	</div>
<% end %>


