<% provide(:title, 'Your cupboards') %>
<div class="list_block--collection--wrap cupboard_edit_all">
  <div class="list_block--collection--sibling">
    <h2>All Cupboards</h2>
  </div>
  <div class="list_block--collection">
    <% @cupboards.each do |cupboard| %>
    <div class="cupboard list_block<%= cupboard_empty_class(cupboard) %>">
      <h3 class="list_block--title"><%= cupboard.location %></h3>
      <% if cupboard.stocks.first %>
        <% cupboard.stocks.order(use_by_date: :desc).each do |stock| %>
          <% if params[:show_all] == 'true' || (stock.use_by_date - Date.current).to_i >= -2 %>
            <%= link_to edit_stock_path(stock.id), {:class => "list_block--item #{date_warning_class(stock)}"} do %>
              <p><%= stock.ingredient.name %></p>
              <p><%= stock.amount %> <%= stock.ingredient.unit.name %></p>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <%= link_to "Add more stock", stocks_new_path(:cupboard_id => cupboard.id), {:class => "list_block--item list_block--item_new"} %>
    </div>
  <% end %>
  <%= link_to cupboards_new_path, {:class => "list_block"} do %>
    <span>Add a new cupboard / storage location</span>
  <% end %>
  </div>
</div>
