<div class="list_block--collection--wrap">
	<% provide(:title, (@cupboard.setup ? 'Importing shop stock' : "Editing '#{@cupboard.location.to_s}''")) %>
	<%= form_for @cupboard, :html => {id: "edit_cupboard_form", class: "edit_cupboard_form"} do |f| %>
		<div class="list_block--collection--sibling list_block--collection--sibling-multi_action">
			<% if @cupboard.setup %>
				<h2>Importing shop stock</h2>
			<% else %>
				<h2><%= f.text_field :location %></h2>
			<% end %>
			<% if @cupboard.setup %>
				<%= submit_tag "Save shopping items to cupboards", class: 'list_block--collection--action' %>
			<% else %>
				<%= submit_tag "Update #{@cupboard.location}", class: 'list_block--collection--action' %>
			<% end %>
		</div>

		<div class="list_block--collection">

		<% for stock in @stocks %>
			<%= check_box_tag "stock_items[#{stock.id}][delete]", stock.id, false, class: "list_block--item_edit--checkbox checkbox_standard not_ordered list_block--delete_status_checkbox" %>
			<div class="list_block">
				<div class="list_block--content">
					<div class="list_block--title">
						<h3><%= stock.ingredient.name %></h3>
						<%= label_tag "stock_items[#{stock.id}][delete]", class: "edit_list_block_button list_block--action cupboard_form--delete_stock_button" do %>
							<%= icomoon('bin') %>
						<% end %>
					</div>
					<div class="item_form--content_row">
						<%= text_field_tag "stock_items[#{stock.id}][amount]", round_if_whole(stock.amount), class: 'bordered' %>
						<%= select_tag "stock_items[#{stock.id}][unit_id]", options_from_collection_for_select(@units, "id", "name", stock.unit_id), class: "pretty_form--row--pretty_select" %>
					</div>
					<div class="item_form--content_row">
						<%= label_tag "stock_items[#{stock.id}][use_by_date]", 'Use by date'  %> <%= date_field_tag "stock_items[#{stock.id}][use_by_date]", stock.use_by_date, min: Date.current, validate: true %>
						<% if @all_cupboards.length == 1 %>
							<%= hidden_field_tag "stock_items[#{stock.id}][cupboard]", @all_cupboards.last.id %>
						<% end %>
					</div>
					<% if @all_cupboards.length > 1 %>
						<div class="item_form--content_row">
								<h3>Cupboard</h3>
							<% if @cupboard.setup %>
							<p>
								Pick the cupboard you want your new stock to go into
							</p>
							<% end %>
							<break order="false"></break>
							<% @all_cupboards.each do |cupboard| %>
								<%= radio_button_tag "stock_items[#{stock.id}][cupboard]", cupboard.id, ((cupboard.id == @cupboard.id || cupboard.id == @all_cupboards.first.id) ? true : false), class: "fancy_radio_button" %>
								<%= label_tag "stock_items[#{stock.id}][cupboard]_#{cupboard.id}", cupboard.location, class: "fancy_radio_button__label" %>
							<% end %>
						</div>
					<% end %>
				</div>
			</div>

		<% end %>
		<% unless @cupboard.setup %>
			<%= link_to stocks_new_path(:cupboard_id => params[:id]), class: "list_block" do %>
				<span>Add new stock to this cupboard</span>
			<% end %>
		<% end %>


		</div>
		<div class="list_block--collection--sibling">
			<% if @cupboard.setup %>
				<%= submit_tag "Save shopping items to cupboards", class: 'list_block--collection--action' %>
			<% else %>
				<%= submit_tag "Update #{@cupboard.location}", class: 'list_block--collection--action' %>
			<% end %>
			</div>
	<% end %>
</div>
