<% provide(:title, 'Your cupboards') %>
<div class="main">
  <div class="container">
    <%= link_to "Create a new cupboard", cupboards_new_path %>
    <br />
    <hr>
    <br />
    <h2>All Cupboards</h2>
      <% @cupboards.each do |cupboard| %>
      <div class="cupboard">
        <h3><%= cupboard.location %></h3>
        <% if cupboard.stocks.first %>
          <ul>
            <% cupboard.stocks.order(use_by_date: :asc).each do |stock| %>
              <li>
                <p><%= stock.amount %> <%= stock.ingredient.unit.name %> of <%= stock.ingredient.name %></p>
                <p><%= use_by_date(stock) %></p>
                <br>
                <br>
              </li>
            <% end %>
          </ul>
        <% end %>

        <%= link_to "Learn more", cupboard_path(cupboard) %>
      </div>
    <% end %>
  </div>
</div>
