<% provide(:title, 'Your cupboards') %>
<div class="list_block--collection--wrap">
  <div class="list_block--collection--sibling">
    <h2>Your Cupboards</h2>
    <%= link_to '#na', class: "list_block--collection--action", title: "edit cupboard sharing settings" do %>
      Edit cupboard sharing settings
    <% end %>
  </div>
  <div id="cupboard-list" class="list_block--collection">
    <% @cupboards.where(hidden: false).each do |cupboard| %>
      <div class="cupboard list_block <%= cupboard_empty_class(cupboard) %>" data-id="<%= cupboard.id %>">
        <div class="list_block--title">
          <span class="delete_list_block_button list_block--action">
            <%= icomoon('bin') %>
            <%= hidden_field_tag "cupboard_id_delete", cupboard.id %>
          </span>
          <h3>
            <%= hidden_field_tag "cupboard_id", cupboard.id %>
            <%= text_field_tag "cupboard_location", cupboard.location %>
          </h3>
          <%= link_to edit_cupboard_path(cupboard), class: "edit_list_block_button list_block--action", title: "pick items to remove" do %>
            <%= icomoon('edit') %>
          <% end %>
          <span class="finish_editing_list_block_button list_block--action">
            <%= icomoon('bin') %>
          </span>
          <span class="close_without_edit_list_block_button list_block--action">
            <%= icomoon('close') %>
          </span>
        </div>
        <% if cupboard.stocks.first %>
          <% cupboard_stocks_selection(cupboard).each do |stock| %>
            <% if params[:show_all] == 'true' || (stock.use_by_date - Date.current).to_i >= -2 %>
              <%= link_to edit_stock_path(stock.id), class: "list_block--item list_block--item_stacked list_block--item_show#{date_warning_class(stock)} stock_#{stock.id}", :data => { :cupboard_id => "#{cupboard.id}", :stock_id => "#{stock.id}" } do %>
                <p><%= stock.ingredient.name %></p>
                <p><%= stock.amount %> <%= stock.ingredient.unit.name %></p>
              <% end %>
              <%= check_box_tag "stock_id[]", value = "#{stock.id}", checked = false, id: "stock_#{stock.id}", class: "list_block--item_edit--checkbox" %>
              <%= label_tag "stock_#{stock.id}", class: "list_block--item list_block--item_stacked list_block--item_edit#{date_warning_class(stock)}" do %>
                <span class="list_block--item_edit_marker"><%= icomoon('bin') %></span>
                <p><%= stock.ingredient.name %></p>
                <p><%= stock.amount %> <%= stock.ingredient.unit.name %></p>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to "Add more stock", stocks_new_path(:cupboard_id => cupboard.id), class: "list_block--item list_block--item-new" %>
        <span class="edit_mode--message">EDIT MODE</span>
      </div>
    <% end %>
    <%= link_to cupboards_new_path, class: "list_block" do %>
      <span>Add a new cupboard / storage location</span>
    <% end %>
  </div>
</div>
