<% provide(:title, 'Cupboard sharing') %>
<div class="pretty_form">
	<%= form_tag({controller: "cupboards", action: "share_request" }, id: "cupboard_share_request_form",  method: :post) do %>
		<div class="pretty_form--row">
			<h1>Sharing <%= @cupboard_name %></h1>
		</div>
		<% if @cupboard.users.length > 1 %>
			<div class="pretty_form--row">
				<h2 class="h4">Currently shared with:</h2>
				<ul class="pretty_form--flex_list">
					<% @cupboard.users.each do |cupboard_user| %>
						<% unless cupboard_user == current_user %>
							<li><p class="people_marker people_marker__wide"><%= cupboard_user.name %></p></li>
							<li><p class="people_marker people_marker__wide"><%= cupboard_user.name %></p></li>
							<li><p class="people_marker people_marker__wide"><%= cupboard_user.name %></p></li>
							<li><p class="people_marker people_marker__wide"><%= cupboard_user.name %></p></li>
							<li><p class="people_marker people_marker__wide"><%= cupboard_user.name %></p></li>
							<li><p class="people_marker people_marker__wide"><%= cupboard_user.name %></p></li>
							<li><p class="people_marker people_marker__wide"><%= cupboard_user.name %></p></li>
						<% end %>
					<% end %>
				</ul>
			</div>
		<% end %>
		<div class="pretty_form--row">
			<p>Share it with whoever you want</p>
		</div>
		<div class="pretty_form--row">
			<%= label_tag "cupboard_user_emails", class: "h5" do %>
			Add email addresses to share with those people. When adding multiple addresses, separate them with a comma eg:
			<strong>"h.granger@spew.org, genie@lamplife.net"</strong>
			<% end %>
			<%= text_area_tag :cupboard_user_emails, nil,  cols: 60, rows: 10, placeholder: "timon@hakunamatata.com" %>
		</div>
		<div class="pretty_form--row">
			<%= button_tag "Update sharing settings", class: "pretty_form--submit_button" %>
		</div>
	<% end %>
</div>
