<% provide(:title, 'Cupboard Sharing') %>
<div class="list_block--collection--wrap">
	<%= form_for :cupboards, url: cupboard_share_path do |c| %>
		<div class="list_block--collection--sibling">
			<h2>Which cupboards do you want to share?</h2>
			<%= button_tag "Share cupboards", class: "list_block--collection--action" %>
		</div>
		<div id="cupboard-list" class="list_block--collection">
			<% @cupboards.each do |cupboard| %>
				<div class="cupboard list_block <%= cupboard_empty_class(cupboard) %> list_block--untouchable" data-id="<%= cupboard.id %>">
					<%= check_box_tag "cupboards[]", cupboard.id, false, id: "cupboard_#{cupboard.id}", class: "not_ordered"%>
					<%= label_tag "cupboard_#{cupboard.id}", '', class: "list_block-checkmark_label" %>
					<div class="list_block--title list_block--title_chunky">
						<h3>
							<%= cupboard.location %>
						</h3>
					</div>
					<% if cupboard.stocks.first %>
						<% cupboard_stocks_selection(cupboard).each do |stock| %>
							<% if params[:show_all] == 'true' || (stock.use_by_date - Date.current).to_i >= -2 %>
								<div class="list_block--item list_block--item_stacked list_block--item_show<%= date_warning_class(stock) %>">
									<p><%= stock.ingredient.name %></p>
									<p><%= stock.amount %> <%= stock.ingredient.unit.name %></p>
								</div>
							<% end %>
						<% end %>
					<% end %>
				</div>
			<% end %>
		</div>
<% end %>
</div>
