<div class="main cupboard-show">
  <div class="container">
    <div class="cupboard">
      
      <!-- Display the cupboard's info here -->
      <div class="info">
        <h3 class="cupboard-location"><%= @cupboard.location %></h3>
        <%= link_to "Edit Location", edit_cupboard_path(@cupboard) %>
      </div>
    </div>

    <% if @stocks.first %>
    <br />
      <ul>
        <% @stocks.each do |stock| %>
          <li>
            <p><%= stock.amount %> <%= stock.ingredient.unit.name %> of <%= stock.ingredient.name %></p>
            <p>Use by <%= stock.use_by_date.to_s(:long) %></p>
            <%= link_to "Update stock details", edit_stock_path(stock) %>
            <br />
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>Cupboard currently empty. Check all ingredient <%= link_to "in stock", stocks_path %>.</p>
    <% end %>

  </div>
</div>
