<% provide(:title, 'Reset password') %>

<div class="pretty_form">
<div class="pretty_form--sibling pretty_form--sibling_row">
  <h1>Reset password</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <div class="pretty_form--row">
        <%= render 'shared/error_messages' %>
        <%= hidden_field_tag :email, @user.email %>
      </div>

      <div class="pretty_form--row">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="pretty_form--row">
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <div class="pretty_form--actions">
        <%= f.submit "Update password", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
