<h2>Notification for <%= @admin.name %></h2>

<p>Issue from <%= @user ? 'a signed in user' : 'a signed out user' %>.</p>

<% if @user %>
<h3>User details</h3>

<p>ID: <%= @user[:user_id] %></p>
<p>Name: <%= @user[:user_name] %></p>
<p>Email: <%= @user[:user_email] %></p>
<% end %>

<h3>Issue details:</h3>
<p><%= @issue_details %></p>

<p>Issue seen on '<%= @current_path %>'</p>

<p>Reported on <strong><%= Time.current.in_time_zone.to_s(:short) %></strong></p>