<div class="recipe">
	<h3><%= recipe.title %></h3>
	<p><% if vegan?(recipe) %>Vegan &check;<% end %></p>
	<p><% if vegetarian?(recipe) %>Vegetarian &check;<% end %></p>
	<p><% if gluten_free?(recipe) %>Gluten Free &check;<% end %></p>
	<p><% if dairy_free?(recipe) %>Dairy Free &check;<% end %></p>
	<p><% if kosher?(recipe) %>kosher &check;<% end %></p>
	<%= link_to "Learn more", recipe_path(recipe) %>
	<% if current_user %>
		<% unless current_user.favourites.include?(recipe) %>
			<%= link_to "favourite", favourite_recipe_path(recipe, type: "favourite"), method: :put %>
		<% else %>
			<%= link_to "unfavourite", favourite_recipe_path(recipe, type: "unfavourite"), method: :put %>
		<% end %>
	<% end %>
	<br />
	<% if current_user %>
		<% if current_user.shopping_lists.length > 0 %>
			<% unless recipe.shopping_lists.include?(current_user.shopping_lists.order('created_at DESC').first) %>
				<%= link_to "add to shopping list", add_to_shopping_list_recipe_path(recipe), method: :put %>
			<% end %>
		<% else  %>
			<%= link_to "add to shopping list", add_to_shopping_list_recipe_path(recipe), method: :put %>
		<% end %>
	<% end %>
</div>
