<div class="list_block list_block__column">
	<% if defined? ingredient_stock_match_decimal %>
		<% percent_in_cupboards = (ingredient_stock_match_decimal * 100).round %>
		<div class="list_block--content_start">
			<span class="list_block--progress_bar" style="width: <%= percent_in_cupboards %>%"></span>
			<div class="list_block--content_start--text">
				<% if ingredient_stock_match_decimal == 0 %>
					<%= pluralize(num_needed_ingredients, 'ingredient') %> needed
				<% else %>
					<%= pluralize(num_stock_ingredients, 'ingredient') %> in stock<% if num_needed_ingredients != 0 %>, <%= num_needed_ingredients.to_s %> needed<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
	<div class="list_block--content">
		<div class="list_block--title">
			<h3><%= link_to recipe.title, recipe_path(recipe) %></h3>
			<div class="list_block--action_row">
				<% if current_user %>
					<% unless current_user.favourites.include?(recipe) %>
						<%= link_to favourite_recipe_path(recipe, type: 'favourite'), class: 'unfavourite svg-btn', title: 'favourite', method: :put do %>
							<%= icomoon('heart') %>
						<% end %>
					<% else %>
						<%= link_to favourite_recipe_path(recipe, type: 'unfavourite'), class: 'svg-btn', title: 'unfavourite',  method: :put do %>
							<%= icomoon('heart') %>
						<% end %>
					<% end %>
					<% unless current_user.shopping_lists.length > 0 && current_user.shopping_lists.order('updated_at asc').last.archived == false && recipe.shopping_lists.include?(current_user.shopping_lists.order('updated_at asc').last) %>
						<%= link_to add_to_shopping_list_recipe_path(recipe), class: 'svg-btn', title: 'add to shopping list', method: :put do %>
							<%= icomoon('list-add') %>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="list_block--info_rows">
			<% if vegan?(recipe) %><p>Vegan &check;</p><% end %>
			<% if vegetarian?(recipe) %><p>Vegetarian &check;</p><% end %>
			<% if gluten_free?(recipe) %><p>Gluten Free &check;</p><% end %>
			<% if dairy_free?(recipe) %><p>Dairy Free &check;</p><% end %>
			<% if kosher?(recipe) %><p>kosher &check;</p><% end %>
		</div>
	</div>
	<% if recipe.cuisine %>
		<div class="list_block--content_end">
			<div class="list_block--tag_bar">
				<p><%= recipe.cuisine %></p>
			</div>
		</div>
	<% end %>
</div>
