<%
  require 'uri'
  background_image_url = 'https://source.unsplash.com/500x350/weekly?food'
	if recipe.image_url
    background_image_url = "https://res.cloudinary.com/heo5njalm/image/upload/t_recipe_thumb_size/#{recipe.image_url}"
  elsif recipe.title
    background_image_url = 'https://source.unsplash.com/500x350/weekly?' + URI::encode(recipe.title).to_s.downcase + ',food'
  end
%>

<div class="list_block list_block__column bg-center" style="background-image: url('<%= background_image_url %>')">
	<% if defined?(ingredient_stock_match_decimal) && !(ingredient_stock_match_decimal.nan?) %>
		<% percent_in_cupboards = ((defined?(waste_saving_rating)) && waste_saving_rating.to_f != 0.to_f) ? (waste_saving_rating.to_f * 100).round : (ingredient_stock_match_decimal.to_f * 100).round %>
		<div class="list_block--content_start">
			<span class="list_block--progress_bar" style="width: <%= percent_in_cupboards %>%"></span>
			<div class="list_block--content_start--text">
				<% if ingredient_stock_match_decimal == 0 && (!(defined?(waste_saving_rating)) || waste_saving_rating.to_f == 0.to_f) %>
					<%= pluralize(num_needed_ingredients, 'ingredient') %> needed
				<% elsif (!(defined?(waste_saving_rating)) || waste_saving_rating.to_f == 0.to_f) %>
					<%= pluralize(num_stock_ingredients, 'ingredient') %> in stock<% if num_needed_ingredients != 0 %>, <%= num_needed_ingredients.to_s %> needed<% end %>
				<% elsif (defined?(waste_saving_rating)) && waste_saving_rating.to_f != 0.to_f %>
					<%= "%g" % ("%.2f" % percent_in_cupboards.to_f) %>% of recipe ingredients going off in next few days
				<% end %>
			</div>
		</div>
	<% elsif recipe.portions.length == 0 %>
		<div class="list_block--content_start list_block--content_start-warn">
			<div class="list_block--content_start--text">
				Recipe has no ingredients!
			</div>
		</div>
	<% elsif !(recipe.live) %>
		<div class="list_block--content_start list_block--content_start-warn">
			<div class="list_block--content_start--text">
				Recipe still in draft mode!
			</div>
		</div>
	<% end %>
	<div class="list_block--content">
		<div class="list_block--title">
			<h3><%= link_to recipe.title, recipe_path(recipe) %></h3>
			<div class="list_block--action_row">
				<% if current_user %>
					<% if defined?(recipe_edit_mode) %>
							<%= link_to edit_recipe_path(recipe), class: 'svg-btn', title: 'Edit this recipe' do %>
								<%= icomoon('edit') %>
							<% end %>
					<% else %>
						<% unless current_user.favourites.include?(recipe) %>
							<%= link_to favourite_recipe_path(recipe, type: 'favourite'), class: 'unfavourite svg-btn', title: 'Favourite this recipe', method: :put do %>
								<%= icomoon('heart') %>
							<% end %>
						<% else %>
							<%= link_to favourite_recipe_path(recipe, type: 'unfavourite'), class: 'svg-btn', title: 'Unfavourite this recipe',  method: :put do %>
								<%= icomoon('heart') %>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
		<% if recipe.portions.length == 0 %>
			<div class="list_block--info_rows">
				<br />
				<p>Not live - only you can see / edit this recipe</p>
				<p>Add ingredients to make this recipe live</p>
			</div>
		<% elsif recipe[:live] == false %>
			<div class="list_block--info_rows">
				<br />
				<p>Not live - not yet published on the site</p>
				<p>Edit the recipe to make it live</p>
				<br />
			</div>
		<% end %>
		<% if recipe.portions.length != 0 %>
			<div class="list_block--info_rows">
				<% if vegan?(recipe) %><p>Vegan &check;</p><% end %>
				<% if vegetarian?(recipe) %><p>Vegetarian &check;</p><% end %>
				<% if gluten_free?(recipe) %><p>Gluten Free &check;</p><% end %>
				<% if dairy_free?(recipe) %><p>Dairy Free &check;</p><% end %>
				<% if kosher?(recipe) %><p>Kosher &check;</p><% end %>
			</div>
		<% end %>
	</div>
	<% if recipe.cuisine && recipe.cuisine.to_s != '' %>
		<div class="list_block--content_end">
			<% if defined?(ingredient_results) && ingredient_results != nil %>
				<%
					search_ingredient_ids = ingredient_results.map(&:id) & recipe.ingredients.map(&:id)
					ingredients_from_search = Ingredient.where(id: search_ingredient_ids)
				%>
				<% if ingredients_from_search.length > 0 %>
					<div class="list_block--tag_bar">
						<% ingredients_from_search.each do |i| %>
							<%= link_to i.name, recipes_path(search: i.name), class: "people_marker people_marker__wide" %>
						<% end %>
					</div>
				<% end %>
			<% end %>
			<div class="list_block--cuisine_bar">
				<p><%= recipe.cuisine %></p>
			</div>
		</div>
	<% end %>
</div>
