<div class="list_block list_block__column">
	<div class="list_block--content">
		<div class="list_block--title">
			<h3><%= link_to recipe.title, recipe_path(recipe) %></h3>
			<div class="list_block--action_row">
				<% if current_user %>
					<% unless current_user.favourites.include?(recipe) %>
						<%= link_to favourite_recipe_path(recipe, type: 'favourite'), class: 'unfavourite svg-btn', title: 'favourite', method: :put do %>
							<%= icomoon('heart') %>
						<% end %>
					<% else %>
						<%= link_to favourite_recipe_path(recipe, type: 'unfavourite'), class: 'svg-btn', title: 'unfavourite',  method: :put do %>
							<%= icomoon('heart') %>
						<% end %>
					<% end %>
					<% unless current_user.shopping_lists.last.archived == false && recipe.shopping_lists.include?(current_user.shopping_lists.last) %>
						<%= link_to add_to_shopping_list_recipe_path(recipe), class: 'svg-btn', title: 'add to shopping list', method: :put do %>
							<%= icomoon('list-add') %>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
		<p><% if vegan?(recipe) %>Vegan &check;<% end %></p>
		<p><% if vegetarian?(recipe) %>Vegetarian &check;<% end %></p>
		<p><% if gluten_free?(recipe) %>Gluten Free &check;<% end %></p>
		<p><% if dairy_free?(recipe) %>Dairy Free &check;<% end %></p>
		<p><% if kosher?(recipe) %>kosher &check;<% end %></p>
	</div>
	<% if recipe.cuisine %>
		<div class="list_block--tag_bar list_block--content">
			<p><%= recipe.cuisine %></p>
		</div>
	<% end %>
</div>
