<div class="content_rich">
    <div class="content_rich--title_block">
      <div class="content_rich--title_row" id="recipe_title_container">
        <h1 class="recipe-title">
					<%= f.text_field :title, :placeholder => "Fancy recipe title", :value => (@recipe.title ? @recipe.title : "Amazing new recipe"), :required => true %>
				</h1>
				<%= f.submit "Save Recipe", class: "list_block--collection--action content_rich--title--action" %>
			</div>
		</div>
		<% if @recipe.portions.length == 0 || @recipe.description.to_s == '' || @recipe.cook_time.to_s == '' %>
			<div class="content_rich--row">
				<h2>Publishing on Stockcubes</h2>
				<p><strong>NB.</strong> You'll only be able to make this recipe live and use it (in a shopping list for example) after you've added some ingredients, a description and a cook time.</p>
			</div>
		<% end %>
		<div id="publish_options" class="content_rich--row <% if @recipe.portions.length == 0 || @recipe.description.to_s == '' || @recipe.cook_time.to_s == '' %>faded_out<% end %>" data-hover-title="You can only publish after you've added the description, ingredients and cook time :)">
			<% unless @recipe.portions.length == 0 || @recipe.description.to_s == '' || @recipe.cook_time.to_s == '' %>
				<h3>Ready to publish? This recipe is currently <strong><%= @recipe.live ? "live" : "in draft mode" %></strong></h3>
			<% end %>
			<div class="item_form--content_row" id="recipe_live_status_row">
				<%= radio_button_tag "recipe[live]", true, @recipe.live, id: "live_radio_1", class: "fancy_radio_button" %>
				<%= label_tag "live_radio_1", "Published", class: "fancy_radio_button__label" %>
				<%= radio_button_tag "recipe[live]", false, !@recipe.live, id: "live_radio_2", class: "fancy_radio_button" %>
				<%= label_tag "live_radio_2", "Draft mode", class: "fancy_radio_button__label" %>
			</div>
		</div>
		<div class="content_rich--row <% if !@recipe.live %>faded_out<% end %>" id="recipe_public_status_row" data-hover-title="You can only change the public settings on this recipe after it's been published">
			<h3>For public use? Recipe is currently <strong><%= @recipe.public ? "public" : "private to you" %></strong></h3>
			<div class="item_form--content_row">
				<%= radio_button_tag "recipe[public]", true, @recipe.public, id: "public_radio_1", class: "fancy_radio_button" %>
				<%= label_tag "public_radio_1", "Public to all Stockcubes users", class: "fancy_radio_button__label" %>
				<%= radio_button_tag "recipe[public]", false, !@recipe.public, id: "public_radio_2", class: "fancy_radio_button" %>
				<%= label_tag "public_radio_2", "Private to you", class: "fancy_radio_button__label" %>
			</div>
		</div>

		<div class="content_rich--row">
			<p class="item_form--content_item_full item_form--content_item_note"><%= icomoon('information-outline')%>Quick note: if you want to share recipes with the Stockcubes community they have to be your own (not ones you've taken from a cookbook or somewhere online). </p>
		</div>

		<div class="content_rich--row content_rich--row-full_width">
			<h3>Background image:</h3>
			<% if @recipe.image_url != nil %>
				<img id="recipe_bg_img" src="https://res.cloudinary.com/heo5njalm/image/upload/t_recipe_thumb_size/<%= @recipe.image_url %>">
				<span id="upload_widget" class="bg-primary-400 rounded-sm py-4 px-3 inline-block mt-4 hover:bg-primary-200 cursor-pointer text-lg">Update background image</span>
			<% else %>
				<span id="upload_widget" class="bg-primary-400 rounded-sm py-4 px-3 inline-block mt-4 hover:bg-primary-200 cursor-pointer text-lg">Add a background image</span>
			<% end %>
			<span></span>
		</div>
		<div class="content_rich--row content_rich--row-full_width" id="recipe_steps_wrapper">
			<h3>Steps *:</h3>
			<ol class="ol">
				<% if @recipe.steps.length > 0 %>
					<% @recipe.steps.order(:number).each do |step| %>
						<li>
							<%= f.text_area "[steps][#{step.id}][content]", :value => step.content, rows: 2,
									class: "min-w-full border border-solid border-gray-600 rounded p-2",
									style: 'min-height: 70px', :placeholder => "The next step to make this meal"%>
						</li>
					<% end %>
				<% else %>
					<li>
						<textarea name="new_recipe_steps[]" value="" rows="2"
											class="min-w-full border border-solid border-gray-600 rounded p-2"
											style="min-height: 70px"
											placeholder="The next step to make this meal"></textarea>
					</li>
				<% end %>
				<div class="devise_links">
					<button class="add_next_step" type="button">Add new step</button>
					<% if @recipe.steps.length > 1 %>
						<button class="delete_last_step" type="button" data-confirm="This is not a drill! Just double-checking you want to delete that recipe step?">Delete the last step</button>
					<% end %>
				</div>
			</ol>
		</div>
		<div class="content_rich--row">
			<h3>Notes (extra info):</h3>
			<%= f.text_area :note, value: (@recipe.note ? @recipe.note : ''), rows: 4,
					class: "border border-solid border-gray-600 rounded px-2 py-3 min-w-full",
					style: 'min-height: 200px;', placeholder: "Anything the people using the recipe need to know that can't be covered in the Method (above)"%>
		</div>
		<div class="content_rich--row content_rich--row-with_children">
			<div class="content_rich--row--half">
				<h3>Cuisine type:</h3>
				<%= f.select :cuisine, options_for_select(cuisines_list(), (@recipe_cuisine ? @recipe_cuisine : '')), {:prompt => "Select cuisine"}, {class: "choices--basis pretty_form--row--pretty_select"} %>
			</div>
			<div class="content_rich--row--half">
				<h3>Yield (Servings):</h3>
				<%= f.number_field :yield, :value => (@recipe.yield ? @recipe.yield : ''), :placeholder => "4", min: "0" %>
			</div>
		</div>
		<div class="content_rich--row content_rich--row-with_children">
			<div class="content_rich--row--half">
				<h3>Prep time (mins):</h3>
				<%= f.number_field :prep_time, :value => (@recipe.prep_time ? @recipe.prep_time : ''), :placeholder => "15", min: "0" %>
			</div>
			<div class="content_rich--row--half" id="recipe_cook_time_container">
				<h3>Cook time (mins)*:</h3>
				<%= f.number_field :cook_time, :value => (@recipe.cook_time ? @recipe.cook_time : ''), :placeholder => "30", min: "0" %>
			</div>
		</div>

		<div class="content_rich--row portion_list--edit" id="recipe_ingredients_list">
			<h2>Ingredients</h2>
			<% if @portions %>
				<ul>
					<% @portions.each do |portion| %>
						<li id="ingredient_<%=portion.id%>" class="ingredient_row justify-between border border-primary-500 border-solid rounded-sm p-4">
							<div class="flex justify-between">
								<p><%= portion.ingredient.name %></p>
								<button data-js-action="delete_ingredient" title="Delete ingredient" data-portion-id="<%= portion.id %>" class="w-12 h-12 p-2 bg-transparent border border-solid border-gray-500 hover:bg-gray-200 focus:bg-gray-200 rounded-sm ml-5"><%= icomoon('close')%></button>
							</div>
							<% portion_unit = portion.unit %>
							<div class="flex justify-between mt-4">
								<%= number_field_tag "recipe[portions][#{portion.id}][amount]", round_if_whole(portion.amount), aria: {label: (portion.amount != nil && portion.amount.to_s != '' ? "Portion amount for this ingredient is " + ( portion_unit ? " " + pluralize(portion.amount, portion_unit.name) : portion.amount ) : "Portion amount for this ingredient is not set" )}, class: "item_form--content_row--half_width_input" %>
								<%= select_tag "recipe[portions][#{portion.id}][unit_id]", options_for_select(unit_list_for_select(portion.unit.unit_type), selected: portion.unit_id),  {class: "choices--basis pretty_form--row--pretty_select", id: portion.ingredient.id, aria: {label: "Choose the right units for the ingredient"}} %>
							</div>
						</li>
					<% end %>
				</ul>
			<% end %>
			<br />
		</div>
		<div class="<% if @recipe.portions.length > 0 %>content_rich--row-flex_end_btns<% end %>">
			<%= f.button class: "list_block--collection--action", name: "redirect", value: "add_ingredient" do %>
				<%= icomoon('add-solid') %>
				Add ingredient
			<% end %>
			<br />
		</div>
		<hr>
		<div class="content_rich--row content_rich--row-multi_btns">
			<%= f.submit "Save Recipe", class: "list_block--collection--action" %>
			<%= f.hidden_field :user_id, value: current_user[:id] %>
			<% if @recipe[:id] %>
				<%= link_to "Delete Recipe", delete_recipe_path(@recipe), onclick: "if (window.confirm(\"Definitely want to delete this recipe?\")) {return true;} else {return false;}", class: "list_block--collection--action list_block--collection--cancel_action" %>
			<% end %>
		</div>
	</div>
