  <%= form_tag(search_recipe_path, :method => "get", id: "search-form") do %>
    <p>Search recipes</p>
    <br />
    <%= text_field_tag :recipes, params[:recipes], placeholder: "Search Recipes" %>
    <br />
    <br />
    <p>Search Cuisine</p>
    <br />
		<div class="datalist-select-fallback">
			<%= select_tag :cuisine_select, options_for_select(@cuisines, selected = params[:cuisine]), prompt: "Pick your cuisine" %>
		</div>
		<div class="datalist-input">
			<%= text_field_tag "cuisine_dl", params[:cuisine], placeholder: "Pick your cuisine", list: "cuisine_list" %>
			<datalist id="cuisine_list">
			<% @cuisines.each do |cuisine|  %>
				<option value="<%= cuisine.to_s %>"><%= cuisine.to_s %></option>
			<% end %>
			</datalist>
		</div>
		<%= hidden_field_tag 'cuisine', params[:cuisine] %>
		<div class="cuisine_tag_container" hidden></div>
    <br />
    <br />
    <p>Search ingredients</p>
    <br />
		<div class="datalist-select-fallback">
			<%= select_tag :ingredients_select, options_for_select(@ingredients), prompt: "Pick your ingredients" %>
		</div>
		<div class="datalist-input">
			<%= text_field_tag "ingredients_dl", '', placeholder: "Pick your ingredients", list: "ingredient_list" %>
			<datalist id="ingredient_list">
			<% @ingredients.each do |ingredient_name|  %>
				<option value="<%= ingredient_name.to_s %>"><%= ingredient_name.to_s %></option>
			<% end %>
			</datalist>
		</div>
		<%= hidden_field_tag 'ingredients', params[:ingredients] %>
		<div class="ingredients_tags" hidden></div>
    <br />
    <%= submit_tag "Search", :name => nil, :id => 'submit', :data => { disable_with: false } %>
  <% end %>