<%= form_for(@recipe) do |r| %>  
	<div class="field"> 
		Label <%= r.label :recipe %><br> 
		Name <%= r.text_field :title %><br>
		Name <%= r.text_area :description %><br>
	</div>
	<div class="actions"> 
		<%= r.submit "Save" %> 
	</div> 
<% end %>

<% @portions.each do |portion| %>
	<div class="portion-block">
		<p class="portion"><%= portion.amount %> <%= portion.ingredient.unit %> of <%= portion.ingredient.name %></p>
		<%= link_to "Update", edit_portion_path(portion) %>
	</div>
<% end %>
