<% provide(:title, "Editing Recipe: #{@recipe.title}") %>


<%= form_for @recipe, :html => {class: 'content_rich--wrapper'} do |f| %>
  <div class="content_rich">
    <div class="content_rich--title_block">
      <div class="content_rich--title_row">
        <h1 class="recipe-title">
					<%= @recipe.title %>
				</h1>
				<%= f.submit "Save Recipe", class: "list_block--collection--action content_rich--title--action" %>
			</div>
		</div>
		<%= render 'recipe_form_partial', f: f %>
		<div class="content_rich--row portion_list">
			<h2>Ingredients</h2>
			<ul>
				<% @portions.each do |portion| %>
					<li>
						<p><%= portion.ingredient.name %></p>
						<br />
						<%= hidden_field_tag "recipe[portion_ids][]", portion.id %>
						<%= text_field_tag "recipe[portion][amount][]", portion.amount %>
						<%= select_tag "recipe[portion][ingredient][unit][]", options_from_collection_for_select(@units, "id", "name", portion.ingredient.unit.id), :id => portion.ingredient.id %>
						<br />
						<%= check_box_tag "recipe[portion][id][]", portion.id, nil, {:id => portion.id} %>
						<%= label_tag "recipe[portion][id][]", "Remove from recipe", {:for => portion.id} %>
					</li>
				<% end %>
				<li>
					<%= link_to "Add Ingredient", portions_new_path(:recipe_id => params[:id]) %>
				</li>
			</ul>
			<%= f.submit "Save Recipe", class: "list_block--collection--action" %>
		</div>
	</div>
<% end %>
