<%= form_for @recipe do |f| %>
	<%= f.submit "Save Recipe" %>
  <br />
	<div class="field">
		<h2>Recipe title</h2>
		<br />
		<%= f.text_field :title %>
		<br />
		<br />
		<p>Description (Method):</p>
		<%= f.text_area :description, rows: 10, style: 'width: 90%; min-height: 300px;'%>
		<br />
		<br />
		<p>Prep time:</p>
		<%= f.text_field :prep_time %>
		<br />
		<br />
		<p>Cook time:</p>
		<%= f.text_field :cook_time %>
		<br />
		<br />
		<p>Yield (Number of servings):</p>
		<%= f.text_field :yield %>
		<br />
		<br />
		<p>Extra notes:</p>
		<%= f.text_area :note, rows: 5, style: 'width: 90%; min-height: 150px;' %>
		<br />
	</div>
	<br />
	<br />
	<br />
	<% for portion in @portions %>
		<p><%= portion.ingredient.name %></p>
		<br />
		<%= hidden_field_tag "recipe[portion_ids][]", portion.id %>
		<%= text_field_tag "recipe[portion][amount][]", portion.amount %>
		<%= select_tag "recipe[portion][ingredient][unit][]", options_from_collection_for_select(@units, "id", "name", portion.ingredient.unit.id), :id => portion.ingredient.id %>
		<br />
		<%= check_box_tag "recipe[portion][id][]", portion.id, nil, {:id => portion.id} %>
		<%= label_tag "recipe[portion][id][]", "Remove from recipe", {:for => portion.id} %>
		<br />
		<br />
	<% end %>
	<%= link_to "Add Ingredient", portions_new_path(:recipe_id => params[:id]) %>
	<br />
	<br />
	<br />
	<br />
	<br />
	<%= f.submit "Save Recipe" %>
<% end %>
