<% provide(:title, 'Stock Cube Recipes') %>
<div class="main">
  <div class="container">

    <%= form_tag recipes_path, method: :get do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", name: nil %>
    <% end %>
    <br />
    <br />
    <br />
    <div>
    <%= will_paginate(@recipes) %>
    <% @recipes.each do |recipe| %>
      <%= render 'recipe_list_partial', recipe: recipe %>
      <br />
      <br />
    <% end %>
    </div>

  </div>
</div>