<% provide(:title, 'Recipes') %>
<div class="main">
  <div class="container">


    <div class="list_block--collection--wrap">
    <%= form_tag recipes_path, class: 'search_box--form',  method: :get do %>
        <div class="search_box">
          <%= text_field_tag :search, params[:search], placeholder: "what do you fancy? Tamales? Lancashire Hot Pot?" %>
          <%= button_tag "Search", name: nil do %>
            <%= icomoon('search') %>
          <% end %>
        </div>
      <% end %>
      <% if @no_results == true %>
      <div class="list_block--collection--sibling list_block--collection--sibling_stack">
        <p>No results found! Maybe try a more generic search?</p>
        <p>Here are some random recipes you might like!</p>
      </div>
      <% else %>
        <%= will_paginate(@recipes) %>
      <% end %>

      <div class="list_block--collection list_block--collection__tight <% if defined? @mini_progress_on %>mini_progress<% end %>">
        <% @recipes.each do |recipe| %>
          <%
            user_recipe_stock_match = UserRecipeStockMatch.where(user_id: current_user[:id], recipe_id: recipe[:id]).first
            ingredient_stock_match_decimal = user_recipe_stock_match[:ingredient_stock_match_decimal]
            num_stock_ingredients = user_recipe_stock_match[:num_stock_ingredients]
            num_needed_ingredients = user_recipe_stock_match[:num_needed_ingredients]
          %>
          <%= render 'recipe_list_partial', recipe: recipe, ingredient_stock_match_decimal: ingredient_stock_match_decimal, num_stock_ingredients: num_stock_ingredients, num_needed_ingredients: num_needed_ingredients %>
        <% end %>
      </div>
      <% if @no_results == nil %>
        <%= will_paginate(@recipes) %>
      <% end %>
    </div>
    <% if @fav_recipes.length > 0 %>
      <div class="list_block--collection--wrap">
        <div class="list_block--collection--sibling">
          <h2>Your favourite recipes</h2>
        </div>
        <div class="list_block--collection list_block--collection__tight">
          <% @fav_recipes_limit.each do |recipe| %>
            <%= render 'recipe_list_partial', recipe: recipe %>
          <% end %>
        </div>
        <% if @fav_recipes.length > 6 %>
          <div class="list_block--collection--sibling">
            <%= link_to "See all of your favourite recipes", favourite_recipes_path %>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
</div>