<% provide(:title, 'Stock Cube Recipes') %>
<div class="main">
  <div class="container">

    <%= form_tag recipes_path, class: 'search_box--form',  method: :get do %>
      <div class="search_box">
        <%= text_field_tag :search, params[:search] %>
        <%= button_tag "Search", name: nil do %>
          <%= icomoon('search') %>
        <% end %>
      </div>
    <% end %>
    <br />
    <br />
    <br />
    <div>
    <% if @no_results == true %>
      <p>No results found! Maybe try a more generic search?</p>
      <br />
      <p>Here are some random recipes you might like!</p>
      <br />
      <br />
    <% else %>
      <%= will_paginate(@recipes) %>
    <% end %>

      <div class="list_block--collection list_block--collection__tight">
        <% @recipes.each do |recipe| %>
          <%= render 'recipe_list_partial', recipe: recipe %>
        <% end %>
      </div>
    </div>

  </div>
</div>