<% provide(:title, 'Recipes') %>
<div class="main">
  <div class="container">


    <div class="list_block--collection--wrap">
    <%= form_tag recipes_path, class: 'search_box--form',  method: :get do %>
        <div class="search_box">
          <%= text_field_tag :search, params[:search], placeholder: "what do you fancy? Tamales? Lancashire Hot Pot?" %>
          <%= button_tag "Search", name: nil do %>
            <%= icomoon('search') %>
          <% end %>
        </div>
      <% end %>
      <% if @no_results == true %>
      <div class="list_block--collection--sibling list_block--collection--sibling_stack">
        <p>No results found! Maybe try a more generic search?</p>
        <p>Here are some random recipes you might like!</p>
      </div>
      <% else %>
        <%= will_paginate(@recipes) %>
      <% end %>

      <div class="list_block--collection list_block--collection__tight">
        <% @recipes.each do |recipe| %>
          <%
            recipe_match_details = session[:recipe_ingredient_cupboard_matches].fetch(recipe[:id])
            common_ingredient_decimal = recipe_match_details[0]
            common_ingredient_list_length = recipe_match_details[1]
            number_of_needed_ingredients = recipe_match_details[2]
          %>
          <%= render 'recipe_list_partial', recipe: recipe, common_ingredient_decimal: common_ingredient_decimal, common_ingredient_list_length: common_ingredient_list_length, number_of_needed_ingredients: number_of_needed_ingredients %>
        <% end %>
      </div>
      <% if @no_results == nil %>
        <%= will_paginate(@recipes) %>
      <% end %>
    </div>
    <% if @fav_recipes.length > 0 %>
      <div class="list_block--collection--wrap">
        <div class="list_block--collection--sibling">
          <h2>Your favourite recipes</h2>
        </div>
        <div class="list_block--collection list_block--collection__tight">
          <% @fav_recipes_limit.each do |recipe| %>
            <%= render 'recipe_list_partial', recipe: recipe %>
          <% end %>
        </div>
        <% if @fav_recipes.length > 6 %>
          <div class="list_block--collection--sibling">
            <%= link_to "See all of your favourite recipes", favourite_recipes_path %>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
</div>