<% provide(:title, 'Stock Cube Recipes') %>
<div class="main">
  <div class="container">

    <form action="<%= recipes_path %>" method="get">
    <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
    </p>
    </form>
    <br />
    <br />
    <br />
    <br />
    <br />
  <%= will_paginate(@search.hits) %>
  <% @recipes.each do |recipe| %>
    <%= render 'recipe_list_partial', recipe: recipe %>
  <% end %>

  </div>
</div>