<% provide(:title, 'Recipes') %>
<div class="main">
  <div class="container">

    <%= form_tag recipes_path, class: 'search_box--form',  method: :get do %>
      <div class="search_box">
        <%= text_field_tag :search, params[:search], placeholder: "what do you fancy? Tamales? Lancashire Hot Pot?" %>
        <%= button_tag "Search", name: nil do %>
          <%= icomoon('search') %>
        <% end %>
      </div>
    <% end %>
    <br />
    <br />
    <br />

    <div class="list_block--collection--wrap">
      <% if @no_results == true %>
        <p>No results found! Maybe try a more generic search?</p>
        <br />
        <p>Here are some random recipes you might like!</p>
        <br />
        <br />
      <% else %>
        <%= will_paginate(@recipes) %>
      <% end %>

      <div class="list_block--collection list_block--collection__tight">
        <% @recipes.each do |recipe| %>
          <%= render 'recipe_list_partial', recipe: recipe %>
        <% end %>
      </div>
    </div>
    <% if @fav_recipes.length > 0 %>
      <div class="list_block--collection--wrap">
        <div class="list_block--collection--sibling">
          <h2>Your favourite recipes</h2>
        </div>
        <div class="list_block--collection list_block--collection__tight">
          <% @fav_recipes_limit.each do |recipe| %>
            <%= render 'recipe_list_partial', recipe: recipe %>
          <% end %>
        </div>
        <% if @fav_recipes.length > 6 %>
          <div class="list_block--collection--sibling">
            <%= link_to "See all of your favourite recipes", favourite_recipes_path %>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
</div>