    <%= form_for(@recipe) do |r| %>
      <div class="field">
        Label <%= r.label :recipe %><br>
        Title <%= r.text_field :title %><br>
        Description <%= r.text_area :description %>
      </div>
      <div class="actions">
        <%= r.submit "Create" %>
      </div>
    <% end %>