<%= form_tag @recipe, class: "form-horizontal new-recipe-form" do %>
  <fieldset id="recipe-meta">
    <ol>
      <li class="control-group">
        <p>Recipe Name</p>
        <div class="controls"><%= text_field_tag :recipe_title, '', placeholder: "Some recipe title" %></div>
      </li>
      <li class="control-group">
        <p>A brief description of this recipe</p>
        <div class="controls"><%= text_area_tag :recipe_description %></div>
      </li>
    </ol>
  </fieldset>

  <fieldset id="recipe-ingredients">
    <ol>
      <%= fields_for :portions do |portion| %>
        <%= render 'portion_fields' %>
      <% end %>
    </ol>
    <br />
    <br />
    <%= link_to 'add ingredient', "#", id: "add_ingredient_button" %>
    <%# <%= link_to_add_association 'add ingredient', f, :portions, 'data-association-insertion-node' => "#recipe-ingredients ol", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|portion| portion.build_ingredient; portion } %> %>
  </fieldset>
  <br />
  <br />
  <div hidden id="hidden-new-portion"><%= render 'portion_fields' %></div>
  <br />
  <%= submit_tag "Save" %>
<% end %>