<% provide(:title, 'Search Recipes') %>
<div class="main">
  <div class="container">
  <%= render 'search_form' %>
  <%= link_to "Clear form", search_recipe_path %>
  <br />
  <%= link_to "All recipes", recipes_path %>
  <br />
  <br />
  <br />

    <br />
    <br />


    <% if @final_recipes.present? %>



      <% if @recipe_search_logic_step == 0 %>
        <p>Something went wrong!</p>
      <% elsif @recipe_search_logic_step == 1 %>
        <p>More than two results from all params</p>
        <%# ## all params produce a result and there are more than two results %>
      <% elsif @recipe_search_logic_step == 2 %>
        <p>More than two results from title and cuisine</p>
        <%# ## there are more than 2 results for title and cuisine combo %>
        <%# ## there are results for all params but it's less than 2 %>
      <% elsif @recipe_search_logic_step == 3 %>
        <p>More than two results from ingredients</p>
        <%# ## there are more than 2 results for ingredients search %>
        <%# ## there are results for title and cuisine combo but it's less than 2 %>
      <% elsif @recipe_search_logic_step == 4 %>
        <p>More than two results from first ingredient</p>
        <%# ## there are more than 2 results for first ingredient search %>
        <%# ## there are results for ingredient search but it's less than 2 %>
      <% elsif @recipe_search_logic_step == 5 %>
        <p>Fallback recipes</p>
        <%# ## fallback recipes %>
      <% end %>
      <br />
      <br />

      <% if @fallback.present? && @fallback == true %>
      <p>Fallback!!</p>
      <% end %>

      <% if @find_max_length_array.present? && @find_max_length_array == true %>
        <p>Could find many results for
          <% if params.has_key?(:recipes) && params[:recipes] != '' %>
            "<%= params[:recipes] %>"
            <% if @number_of_params > 1 %> and <% end %>
          <% end %>
          <% if params.has_key?(:cuisine) && params[:cuisine] != '' %>
            "<%= params[:cuisine] %>"
            <% if params.has_key?(:ingredients) %> and <% end %>
          <% end %>
          <% if params.has_key?(:ingredients) && params[:ingredients] != '' %>
            "<%= params[:ingredients] %>"
          <% end %>
        </p>
        <br />
        <%= @number_of_params %>
        <% if @number_of_params > 1 %>
        <p>So instead getting results from
          <% if @which_recipe_search_won == 0 %>
            just "<%= params[:recipes] %>"
          <% elsif @which_recipe_search_won == 1 %>
            "<%= params[:recipes] %>" and "<%= params[:cuisine] %>"
          <% elsif @which_recipe_search_won == 2 %>
            "<%= params[:recipes] %>", "<%= params[:cuisine] %>" and "<%= params[:ingredients] %>"
          <% elsif @which_recipe_search_won == 3 %>
            "<%= params[:recipes] %>" and "<%= params[:ingredients] %>"
          <% elsif @which_recipe_search_won == 4 %>
            just "<%= params[:cuisine] %>"
          <% elsif @which_recipe_search_won == 5 %>
            "<%= params[:cuisine] %>" and "<%= params[:ingredients] %>"
          <% elsif @which_recipe_search_won == 6 %>
            just "<%= params[:ingredients] %>"
          <% end %></p>
        <% end %>

        <br />
      <% end %>

      <% if params[:ingredients].include?('|') || params[:ingredients].include?('%7') %>
        <p>(Showing all recipes matching ingredients from search)</p>
      <% end %>
        <br />
        <br />

      <% if @final_recipes.length > 1 %>
        <%= will_paginate(@final_recipes) %>
      <% end %>
      <% @final_recipes.each do |recipe| %>
          <%= render 'recipe_list_partial', recipe: recipe %>
        <br/>
        <br/>
      <% end %>
      <% if @final_recipes.length > 1 %>
        <%= will_paginate(@final_recipes) %>
      <% end %>

      <% if @final_recipes.length < 3 %>
        <br>
        <br>
        <hr>
        <p>Here are some more random recipes you might like :)</p>
        <br>
        <br>

      <% end %>

    <% end %>
  </div>
</div>