<% provide(:title, 'Search Recipes') %>
<div class="main">
  <div class="container">
  <%= render 'search_form' %>
  <%= link_to "Clear form", search_recipe_path %>
  <br />
  <%= link_to "All recipes", recipes_path %>
  <br />
  <br />
  <br />

    <br />
    <br />

    <% if @final_recipes.present? %>
      <% if @final_recipes.length > 1 %>
        <%= will_paginate(@final_recipes) %>
      <% end %>
      <% @final_recipes.each do |recipe| %>
          <%= render 'recipe_list_partial', recipe: recipe %>
        <br/>
        <br/>
      <% end %>
      <% if @final_recipes.length > 1 %>
        <%= will_paginate(@final_recipes) %>
      <% end %>

      <% if @final_recipes.length < 3 %>
        <br>
        <br>
        <hr>
        <p>Here are some more random recipes you might like :)</p>
        <br>
        <br>

        <% @fallback_recipes.each do |recipe| %>
          <%= render 'recipe_list_partial', recipe: recipe %>
        <br/>
        <br/>
        <% end %>
      <% end %>

    <% else %>
      <p>There are no recipes containing "<%= params[:search] %>".</p>
      <br>
      <br>
      <p>Here are some random ones you might like :)</p>
      <br>
      <br>

      <% @fallback_recipes.each do |recipe| %>
        <%= render 'recipe_list_partial', recipe: recipe %>
      <br/>
      <br/>
      <% end %>
    <% end %>
  </div>
</div>