<% provide(:title, "Recipe: #{@recipe.title}") %>
<div class="main recipe-show">
  <div class="container">
    <div class="recipe">

      <!-- Display the recipe's info here -->
      <div class="info">
        <h3 class="recipe-title"><%= @recipe.title %></h3>
        <p class="recipe-cuisine"><%= @recipe.cuisine.to_s %></p>
        <p class="recipe-serving"><%= @recipe.yield.to_s %></p>
        <% if @recipe.prep_time %>
          <p class="recipe-prep_time">Prep Time: <%= @recipe.prep_time.to_s %></p>
        <% end %>
        <% if @recipe.cook_time %>
          <p class="recipe-cook_time">Cook Time: <%= @recipe.cook_time.to_s %></p>
        <% end %>
        <% if @recipe.description.to_s.include?('\n') %>
          <p class="recipe-description"><%= recipe_description.html_safe %></p>
        <% else %>
          <p class="recipe-description"><%= @recipe.description.to_s %></p>
        <% end %>
        <p class="recipe-notes"><%= @recipe.note.to_s %></p>
        <% if current_user && current_user.admin %>
        <br />
        <br />
        <br />
        <br />
          <%= link_to "Edit recipe", edit_recipe_path(@recipe) %>
        <br />
        <br />
        <br />
        <br />
        <% end %>

      </div>
    </div>

    <% if current_user %>
      <% if not current_user.favourites.include?(@recipe) %>
        <%= link_to "favourite", favourite_recipe_path(@recipe, type: "favourite"), method: :put %>
      <% else %>
        <%= link_to "unfavourite", favourite_recipe_path(@recipe, type: "unfavourite"), method: :put %>
      <% end %>
    <% end %>
    <br />
    <br />
    <p><% if vegetarian?(@recipe) %>Vegetarian &check;<% end %></p>
    <br />
    <br />

    <% if @portions.exists? %>
      <% @portions.each do |portion| %>
      <div class="portion-block">

        <p><%= portion_amount_unit_and_ingredient(portion).html_safe %></p>
        <br />
      </div>
      <% end %>
    <% end %>






  </div>
</div>
