<div class="main recipe-show">
  <div class="container">
    <div class="recipe">
      
      <!-- Display the recipe's info here -->
      <div class="info">
        <h3 class="recipe-title"><%= @recipe.title %></h3>
        <p class="recipe-description"><%= recipe_description %></p>
        <%= link_to "Edit recipe", edit_recipe_path(@recipe) %>
      </div>
    </div>

    <h2>Ingredients</h2>
    <!-- Display each ingredient's info here -->
		<% @ingredients.each do |ingredient| %>
    <div class="ingredient">
      ingredient_id 
      <h3 class="ingredient-name"><%= ingredient.name %></h3>
			<%= link_to "Learn more", ingredient_path(ingredient) %>
    </div>
		<% end %>

		<% @portions.each do |portion| %>
    <div class="portion-block">

      <%= portion.ingredient.name %>
      <br />
      <p class="portion"><%= portion.amount %><%= portion.ingredient.unit %></p>
      Hello
    </div>
		<% end %>

  </div>
</div>
