<div class="main recipe-show">
  <div class="container">
    <div class="recipe">
      
      <!-- Display the recipe's info here -->
      <div class="info">
        <h3 class="recipe-title"><%= @recipe.title %></h3>
        <p class="recipe-description"><%= recipe_description %></p>
        <%= link_to "Edit recipe", edit_recipe_path(@recipe) %>
        <br />
        <br />
          <%= pluralize @recipe.reputation_for(:favourites).to_i, "favourites" %>
          | <%= link_to "favourite", favourite_recipe_favourite_path(recipe, value: 1), method: "post" %>
          | <%= link_to "unfavourite", favourite_recipe_favourite_path(recipe, value: 0), method: "post" %>
      </div>
    </div>
    <%= form_for @recipe, html: {class: "form-horizontal"} do |f| %>
      <button>Favourite<%= current_user.name %></button>
    <% end %>


    <% @portions.each do |portion| %>
    <div class="portion-block">

      <h3><%= portion.ingredient.name %></h3>
      <p class="portion"><%= portion.amount %><%= portion.ingredient.unit %></p>
      <br />
    </div>
    <% end %>


  </div>
</div>
