<% provide(:title, "Recipe: #{@recipe.title}") %>


<div class="content_rich--wrapper">
  <div class="content_rich">
    <div class="content_rich--title_block">
      <div class="content_rich--title_row">
        <h1 class="recipe-title">
        <% if current_user %>
          <% current_user.favourites.include?(@recipe) ? fav_status = "unfavourite" : fav_status = "favourite" %>
          <%= link_to favourite_recipe_path(@recipe, type: fav_status), title: fav_status, class: "heart_stat_#{fav_status}", method: :put do %>
            <%= icomoon('heart') %>
            <span class="content_rich--title_text">
              <%= @recipe.title %>
            </span>
          <% end %>
        <% end %>
        </h1>
        <% if current_user && current_user.activated && @recipe[:user_id] && @recipe[:user_id] == current_user[:id]  %>
          <%= link_to edit_recipe_path(@recipe), class: "list_block--collection--action" do %>
            <span>Edit recipe</span>
            <%= icomoon('edit') %>
          <% end  %>
        <% end %>
        <% unless current_user.shopping_lists.length > 0 && current_user.shopping_lists.order('updated_at asc').last.archived == false && @recipe.shopping_lists.include?(current_user.shopping_lists.order('updated_at asc').last) %>
          <%= link_to 'Add this recipe to your shopping list', add_to_shopping_list_recipe_path(@recipe), class: 'list_block--collection--action', title: 'add to shopping list', method: :put %>
        <% end %>
      </div>
      <% if @recipe.cuisine && @recipe.cuisine.to_s != '' %>
        <p class="recipe_cuisine"><%= @recipe.cuisine.to_s %> Cuisine</p>
      <% end %>
      <% if vegetarian?(@recipe) || vegan?(@recipe) || gluten_free?(@recipe) || dairy_free?(@recipe) || kosher?(@recipe) %>
        <div class="recipe_info_tags">
          <% if vegetarian?(@recipe) %><span class="recipe_info_tags--item">Vegetarian &check;</span><% end %>
          <% if vegan?(@recipe) %><span class="recipe_info_tags--item">Vegan &check;</span><% end %>
          <% if gluten_free?(@recipe) %><span class="recipe_info_tags--item">Gluten free &check;</span><% end %>
          <% if dairy_free?(@recipe) %><span class="recipe_info_tags--item">Dairy free &check;</span><% end %>
          <% if kosher?(@recipe) %><span class="recipe_info_tags--item">Kosher &check;</span><% end %>
        </div>
      <% end %>
      <% if @recipe[:user_id] == current_user[:id] %>
        <p class="recipe_cuisine item_form--content_item_note"><%= icomoon('information-outline')%>This recipe is <%= @recipe.live ? "<strong>live</strong> on Stockcubes".html_safe : "in <strong>draft</strong> mode - only you can see it and you need to publish it to start using it".html_safe %><% if @recipe.live %>, and <%= @recipe.public ? "<strong>available</strong> for all Stockcubes users to see and use".html_safe : "<strong>private</strong> so only you can see and use it".html_safe %><% end %></p>
      <% end %>
    </div>
    <% if @recipe.user_id != nil && @recipe.user[:admin] === false %>
      <div class="content_rich--row">
        <% if @recipe[:public] != true %>
          <p>Recipe provided by a Stockcubes user</p>
        <% else %>
          <p>Recipe provided by: <span class="angel"><%= @recipe.user.name %></span></p>
        <% end %>
      </div>
    <% end %>
    <% if @recipe.yield && @recipe.yield.to_s != '' %>
      <div class="content_rich--row">
        <p class="recipe-serving"><%= @recipe.yield.to_s + (@recipe.yield.to_s.downcase.include?('serv') ? '' : ' Servings') %> </p>
      </div>
    <% end %>

    <% if current_user && current_user == @recipe.user %>
      <div class="content_rich--row">
        <p class="recipe-prep_time">Prep Time: <%= ((@recipe.prep_time && @recipe.prep_time.to_s == '') || !@recipe.prep_time) ? 'Not set!' : @recipe.prep_time.to_s %></p>
      </div>
    <% elsif (!current_user || (current_user && current_user != @recipe.user)) && @recipe.prep_time && @recipe.prep_time.to_s != '' %>
      <div class="content_rich--row">
        <p class="recipe-prep_time">Prep Time: <%= @recipe.prep_time.to_s %></p>
      </div>
    <% end %>
    <% if @recipe.cook_time %>
      <div class="content_rich--row">
        <p class="recipe-cook_time">Cook Time: <%= @recipe.cook_time.to_s %></p>
      </div>
    <% end %>
    <div class="content_rich--row">
      <div class="recipe_description">
        <h2>Method</h2>
        <%= simple_format(@recipe.description) %>
      </div>
    </div>
    <% if @recipe.note %>
      <div class="content_rich--row">
        <p class="recipe-notes"><%= @recipe.note.to_s %></p>
      </div>
    <% end %>
    <div class="content_rich--row portion_list stock_check">
      <% if @portions.exists? %>
        <h2>Ingredients</h2>
        <ul>
          <% @portions.each do |portion| %>
              <%
                if @cupboard_stock_in_date_ingredient_ids.include?(portion.ingredient.id)
                  ingredient_in_stock = true
                end
              %>
            <li <%= ingredient_in_stock ? 'class=in_stock' : '' %>><%= portion_amount_unit_and_ingredient(portion).html_safe %></li>
          <% end %>
        </ul>
      <% else %>
      <div class="pretty_form--highlight" id="ingredients">
        <h2>No ingredients added</h2>
        <p>Make sure you <%=link_to "add some ingredients", edit_recipe_path(@recipe, anchor: "add_ingredients")%>, if you want to start using this recipe to build a shopping list of put it live on the Stockcubes site.</p>
      </div>
      <% end %>
    </div>
  </div>
</div>
