<div class="main recipe-show">
  <div class="container">
    <div class="recipe">
      
      <!-- Display the recipe's info here -->
      <div class="info">
        <h3 class="recipe-title"><%= @recipe.title %></h3>
        <p class="recipe-description"><%= recipe_description %></p>
        <%= link_to "Edit recipe", edit_recipe_path(@recipe) %>
      </div>
    </div>

    <% if current_user %>
      <% unless current_user.favourites.include?(@recipe) %>
        <%= link_to "favourite", favourite_recipe_path(@recipe, type: "favourite"), method: :put %>
      <% else %>
        <%= link_to "unfavourite", favourite_recipe_path(@recipe, type: "unfavourite"), method: :put %>
      <% end %>
    <% end %>


    <% @portions.each do |portion| %>
    <div class="portion-block">

      <h3><%= portion.ingredient.name %></h3>

      <!-- need to tidy up this logic, where to put it? -->
      <% portion_amount = portion.amount.to_r %>
      <%  if (portion_amount.to_f % 1 == 0) %>
        <% portion_amount = portion_amount.to_i %>
      <%  elsif (portion_amount > 1) %>
        <% portion_amount = portion_amount.to_whole_fraction %>
        <% portion_amount = portion_amount[0].to_s + ' ' + portion_amount[1].to_s + '/' + portion_amount[2].to_s %>
      <% end %>
      <p class="portion"><%= portion_amount %> <%= portion.unit.name %></p>
      <br />
    </div>
    <% end %>






  </div>
</div>
