<% provide(:title, "Adding stock to cupboards") %>

<div class="item_form--wrapper">

	<%= form_for @stock, :url => create_custom_stock_path(cupboard_id: (params.has_key?(:cupboard_id) ? params[:cupboard_id] : '')), :html => {id: "stock_form", class: "item_form"}, :validate => true do |s| %>
		<div class="item_form--title">
			<h1>Adding stock to cupboards</h1>
		</div>
		<div class="item_form--contents">
			<div class="item_form--content_row">
				<div style="display: flex;
										margin-bottom: .3rem;
										width: 100%;
										justify-content: space-between;
										align-items: baseline;">
					<%= s.label :ingredient_id, "Pick an ingredient", style: "flex-basis: auto" %>
					<span id="add_custom_ingredient"
								style="font-size: 1.3rem;
												border: 1px solid white;
												border-radius: .2rem;
												padding: 0.4rem 0.6rem;
												cursor: pointer;
												background-color:#f3fbfb;
												display:none;">add a new ingredient</span>
				</div>
				<%= s.select :ingredient_id, options_from_collection_for_select(@ingredients, "id", "name", (params.has_key?(:ingredient) ? params[:ingredient] : '')), {prompt: "Lots of ingredients to choose from"}, {class: "choices--basis wide_select", required: true} %>
			</div>
			<div class="item_form--content_row">
				<%= s.label :amount, 'How much do you have of that ingredient?' %>
				<%= s.number_field(:amount, value: (params.has_key?(:stock_amount) && params[:stock_amount] != 'false' ? params[:stock_amount] : ''), placeholder: '250', class: "item_form--content_row--half_width_input", validate: true) %>
				<%= s.select :unit_id, options_for_select(unit_list().collect{|u| [u[:name], u[:id]] }, selected: (params.has_key?(:unit) ? params[:unit] : Unit.find_by(name: "gram").id)), {}, {class: "choices--basis half_select"} %>
			</div>
			<div class="item_form--content_row">
				<%= label_tag 'stock_use_by_date', 'When is that ingredient going out of date?'  %> <%= s.date_field(:use_by_date, min: Date.current, value: @use_by_limit, validate: true) %>
				<% if @cupboards.length == 1 %>
					<%= s.hidden_field "cupboard_id", value: @cupboard_id_hashids.encode(@cupboards.last.id) %>
				<% end %>
			</div>
			<% if @cupboards.length > 1 %>
				<div class="item_form--content_row">
					<%= label_tag 'cupboard_pick', 'Which cupboard does that ingredient live in?'  %>
					<% @cupboards.each_with_index do |cupboard, index| %>
						<%= s.radio_button "cupboard_id", @cupboard_id_hashids.encode(cupboard[:id]) , {
							class: "fancy_radio_button", id: "cupboard_id_#{@cupboard_id_hashids.encode(cupboard[:id])}",
							checked:
								(params.has_key?(:id) && @cupboards.map(&:id).include?(@cupboard_id_hashids.decode(params[:id]).first) ?
									cupboard[:id] == @cupboard_id_hashids.decode(params[:id]).first : index == 0 )} %>
						<%= s.label "cupboard_id", {class: "fancy_radio_button__label", for: "cupboard_id_#{@cupboard_id_hashids.encode(cupboard[:id])}"} do %>
							<% if cupboard.cupboard_users.length > 1 %>
								<span class="list_block--title_note list_block--title_note_small">SHARED</span>
							<% end %>
							<%= cupboard.location %>
						<% end %>
					<% end %>
				</div>
			<% end %>
			<div class="item_form--content_row">
				<%= s.button "Save" %>
			</div>
		</div>
	<% end %>
</div>
