<% provide(:title, "Editing your stock of #{@current_ingredient.name}") %>

<h1><%= @current_ingredient.name %></h1>
<%= form_for @stock, id: "stock-form", :validate => true do |s| %>
	<div class="field">

		Amount <%= s.text_field(:amount, validate: true) %> <%= select_tag "unit_number", options_from_collection_for_select(@units_select, "unit_number", "name", @preselect_unit) %>
		<br />
		<br>

		Use by Date <%= s.date_field :use_by_date, min: Date.current, value: @stock.use_by_date, validate: true %>
		<%= distance_of_time_in_words(Time.now, @stock.use_by_date) %>
		<br>
		<br>

		<% @cupboards.each do |cupboard| %>
			<%= radio_button_tag "cupboard_id", cupboard.id, (cupboard.id == @current_cupboard.id ? true : false) %>
			<%= label_tag "cupboard_id_#{cupboard.id}", cupboard.location %>
		<% end %>

	</div>
	<div class="actions">
		<%= s.submit "Save" %>
	</div>
<% end %>

