<% provide(:title, "Editing your stock of #{@current_ingredient.name}") %>

<div class="item_form--wrapper">
	<%= form_for @stock, :html => {id: "stock_form", class: "item_form"}, :validate => true do |s| %>
		<div class="item_form--title">
			<h1><%= @current_ingredient.name %></h1>
			<span
				class="list_block--item--action list_block--item--action--btn delete_stock_btn"
				id="<%= @delete_stock_hashids.encode(@stock.id) %>"
				data-cupboard-id="<%= @stock.cupboard_id %>"
				tabindex="0"
			><%= icomoon('bin') %></span>
		</div>
		<div class="item_form--contents">
			<div class="item_form--content_row">
				<%= s.label :amount, 'Amount of stock' %>
				<%= s.number_field(:amount, value: round_if_whole(@stock.amount) , placeholder: '250', class: "item_form--content_row--half_width_input", validate: true) %>
				<%= s.select :unit_id, options_from_collection_for_select(@unit_select, "id", "name", (@preselect_unit ? @preselect_unit : 8)), {}, {class: "pretty_form--row--pretty_select half_select"} %>
			</div>
			<div class="item_form--content_row">
				<%= s.label :use_by_date, 'Use by date'  %> <%= s.date_field(:use_by_date, min: Date.current, value: @stock.use_by_date, validate: true) %>
				<% if @cupboards.length == 1 %>
					<%= s.hidden_field "cupboard_id", value: @cupboards.last.id.to_s %>
				<% end %>
			</div>
			<% if @cupboards.length > 1 %>
				<div class="item_form--content_row">
					<%= label_tag 'cupboard_pick', 'Cupboard pick'  %>
					<% @cupboards.each_with_index do |cupboard, index| %>

						<%= s.radio_button "cupboard_id", cupboard.id , {class: "fancy_radio_button", id: "cupboard_id_#{cupboard.id}", checked: (cupboard.id == @current_cupboard.id ? true : false) } %>
						<%= s.label "cupboard_id", {class: "fancy_radio_button__label", for: "cupboard_id_#{cupboard.id}"} do %>
							<% if cupboard.cupboard_users.length > 1 %>
								<span class="list_block--title_note list_block--title_note_small">SHARED</span>
							<% end %>
							<%= cupboard.location %>
						<% end %>
					<% end %>
				</div>
			<% end %>

			<div class="item_form--content_row">
				<%= s.button "Save" %>
			</div>
		</div>
	<% end %>
</div>

