<% provide(:title, "Editing your stock of #{@current_ingredient.name}") %>

<div class="item_form--wrapper">
	<%= form_for @stock, :html => {id: "stock_form", class: "item_form"}, :validate => true do |s| %>
		<div class="item_form--title">
			<h1><%= @current_ingredient.name %></h1>
		</div>
		<div class="item_form--contents">
			<div class="item_form--content_row">
				<%= label_tag 'stock_amount', 'Amount of stock' %> <%= text_field_tag :amount, round_if_whole(@stock.amount), class: "item_form--content_row--half_width_input", validate: true %> <%= select_tag "unit_id", options_from_collection_for_select(@units_select, "id", "name", @preselect_unit), class: "half_select" %>
			</div>

			<div class="item_form--content_row">
				<%= label_tag 'stock_use_by_date', 'Use by date'  %> <%= s.date_field :use_by_date, min: Date.current, value: @stock.use_by_date, validate: true %>
				<p class="item_form--content_item_full item_form--content_item_note"><%= icomoon('information-outline')%><%= @stock.use_by_date > Time.zone.now ? 'This ingredient goes out of date in ' : 'This went off ' %> <span class="item_form--content_item--highlight"><%= distance_of_time_in_words(Time.zone.now, @stock.use_by_date) %><%= @stock.use_by_date <= Time.zone.now ? ' ago': '' %></span></p>
			</div>

			<div class="item_form--content_row">
				<%= label_tag 'cupboard_pick', 'Cupboard pick'  %>
				<% @cupboards.each do |cupboard| %>
					<%= radio_button_tag "cupboard_id", cupboard.id, (cupboard.id == @current_cupboard.id ? true : false), class: "fancy_radio_button" %>
					<%= label_tag "cupboard_id_#{cupboard.id}", cupboard.location, class: "fancy_radio_button__label" %>
				<% end %>
				<% if @shared_cupboards %>
					<p class="item_form--content_item_full item_form--content_item_note"><%= icomoon('information-outline')%>If you can't see one of your cupboards here, then it might be that the sharing settings for that cupboard are different from this one (<%= @current_cupboard.location %>)</p>
				<% end %>
			</div>

			<div class="item_form--content_row">
				<%= s.button "Save" %>
			</div>
		</div>
	<% end %>
</div>

