<% provide(:title, "Adding stock to cupboards") %>

<div class="main">
  <div class="container">
    <div class="list_block--collection--wrap">
			<div class="list_block--collection--sibling" style="margin:2rem 0 1rem;">
        <h1>Add top ingredients to your cupboard</h1>
				<%= link_to "Add your own ingredients", stocks_custom_new_path(cupboard_id: @cupboard_id) %>
      </div>
			<div class="list_block--collection list_block--collection__tight">
				<% @top_ingredients.each do |i| %>
					<div class="list_block list_block__column"
						style="background-image: url('https://source.unsplash.com/500x300/weekly?food,ingredient,<%= i.name.split(' ').join(',') %>');background-size: cover;
							background-color: rgba(255, 255, 255, .5);
							background-blend-mode: screen;
							background-size: cover;
							background-position: center;">
						<div style="
							width: 100%;
							padding: 0.8rem 1.2rem;
							background-color: #ffffffa3;
							display: flex;
							justify-content: space-between;
							align-items: center;">
							<h2><%= i.name %></h2>
							<div style="display:flex;
									flex-direction:column;
									align-items:flex-end;">
								<p style="margin-bottom: .5rem">Usually goes off in: </p>
								<%# show date, then on 'update' click, show input field with save button %>
								<%# <p> %> <%#= distance_of_time_in_words(i.default_ingredient_sizes.first.use_by_date_diff.days.from_now, Date.current) %> <%# <button id="show_next_form">update</button></p> %>
								<%= form_for i, :url => default_ingredient_size_update_path do |i_s| %>
									<p><%= i_s.number_field :date, :value => i.default_ingredient_sizes.first.use_by_date_diff, :min => 1, :style => "width:8rem;font-size:1em;margin-right:.7rem;padding:.3rem;" %>days</p>
								<% end %>
							</div>
						</div>
						<h3 style="padding:0.8rem 1.2rem;margin:2rem 1.2rem 0.7rem;background-color:#56c4bb8c;width:auto;display:inline-block;align-self:flex-start;">Select the size to add:</h3>
						<ul style="padding:.2rem 1.2rem 1rem">
							<% i.default_ingredient_sizes.first(3).each do |size| %>
								<li style="margin:.3rem 0 1.2rem;">
									<%= form_for @stock, :url => create_stock_path, :html => {:style => "display:flex;flex-direction:column;align-items:flex-start"} do |s| %>
										<%= s.hidden_field :cupboard_id, :value => @cupboard_id %>
										<%= s.hidden_field :amount, :value => size.amount.to_f %>
										<%= s.hidden_field :ingredient_id, :value => size.ingredient_id %>
										<%= s.hidden_field :unit_id, :value => size.unit_id %>
										<%= s.hidden_field :use_by_date, :value => Date.current + 2.weeks, :min => Date.current - 2.days %>
										<%= s.submit standard_serving_size(size), class: "list_block--collection--action" %>
									<% end %>
								</li>
							<% end %>
						</ul>
					</div>
				<% end %>
				<%= link_to stocks_custom_new_path(cupboard_id: @cupboard_id), class: "list_block list_block-wide list_block--link_first link_block-large_bold link_block-centered", style: "background-image:url(https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
						background-size: cover;
						background-color: rgba(255, 255, 255, .5);
						background-blend-mode: screen;
						min-height: 20vw;
						background-position: center center;" do %>
					<p>Add other ingredients</p>
				<% end %>
			</div>
		</div>
	</div>
</div>

