<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

  <div class="pretty_form--row">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <% if params.has_key?(:cupboard_id) && params[:cupboard_id].to_s != '' %>
    <%= f.hidden_field :cupboard_id, value: params[:cupboard_id]  %>
  <% end %>

  <div class="pretty_form--row">
    <%= f.label :email %>
    <% if params.has_key?(:email) && params[:email].to_s != '' %>
      <%= f.email_field :email, class: 'form-control', value: params[:email] %>
    <% else %>
      <%= f.email_field :email, class: 'form-control' %>
    <% end %>
  </div>

  <div class="pretty_form--row">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="pretty_form--row">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="pretty_form--actions">
    <%= button_tag yield(:button_text), class: "pretty_form--submit_button" %>
  </div>
<% end %>
