<% provide(:title, 'All users') %>


<div class="content_rich--wrapper">
  <div class="content_rich">
    <div class="content_rich--title_block">
      <div class="content_rich--title_row" style="display:flex; align-items:center">
        <h1>
        <% if params.has_key?(:confirmed) %>
        <%= params[:confirmed].to_s == "true" ? "Confirmed users" : "Unconfirmed users" %>
        <% else %>All users<% end %>
        </h1>
        <% if params.has_key?(:confirmed) && params[:confirmed].to_s == "true" %>
          <%= link_to "See unconfirmed users", user_list_path(confirmed: "false") %>
        <% else %>
          <%= link_to "See just confirmed users", user_list_path(confirmed: "true") %>
        <% end %>
      </div>
    </div>

    <% if will_paginate(@users) %>
      <%= will_paginate(@users) %>
      <br />
      <hr />
      <br />
    <% end %>

    <% @users.each do |user| %>
      <div class="content_rich--row">
        <h2><%= user.name %> (id: <%= user.id %>)</h2>
        <h3 style="margin-top: -1rem;
                    font-size: 1.3rem;
                    color: gray;"
        ><%= user.confirmed? ? "Confirmed" : "Unconfirmed" %></h3>
        <p>Email: <%= user.email %></p>
        <br />
        <p>Account created on <%= user.created_at.to_s(:long) %></p>
        <br />
        <% if user.recipes.length > 0 %>
          <h3>User Recipes:</h3>
          <ul class="basic_list">
            <% user.recipes.limit(10).each do |recipe| %>
              <li><p><%= link_to recipe.title, recipe_path(recipe) %></p></li>
            <% end %>
          </ul>
          <br />
          <% if user.recipes.length > 10 %>
            <p>Plus <%= user.recipes.length - 10 %> more recipes</p>
          <% end %>
        <% else %>
          <p>Recipes: User hasn't added any recipes yet</p>
        <% end %>
        <br />
        <br />
      </div>
    <% end %>
  </div>
</div>
