<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>

    <% @user.favourites.each do |recipe| %>
      <p><%= recipe.title %></p>
      <%= link_to "Learn more", recipe_path(recipe) %>
      <%= link_to "unfavourite", favourite_recipe_path(recipe, type: "unfavourite"), method: :put %>
      <br />
    <% end %>
  

    <br/>
    <h2>All Recipes</h2>

    <% @all_recipes.each do |recipe| %>
      <p><%= recipe.title %></p>
    <% end %>

  </aside>
</div>