	<div class="field">
		<p>Ingredient Name</p> <%= i.text_field :name %><br>
		<br />
		<p>Unit</p>
		<%= i.select :unit_id, options_for_select(unit_list().collect{|u| [u[:name], u[:id]] }, selected: (ingredient && ingredient.unit_id ? ingredient.unit_id : Unit.find_by(name: "gram").id)), prompt: "Please select" %><br />
		<br />
		<p>Vegan <%= i.check_box "vegan" %></p><br	/>
		<p>Vegetarian <%= i.check_box "vegetarian" %></p><br	/>
		<p>Gluten Free <%= i.check_box "gluten_free" %></p><br	/>
		<p>Dairy Free <%= i.check_box "dairy_free" %></p><br	/>
		<p>Kosher <%= i.check_box "kosher" %></p><br	/>
	</div>
