	<div class="field">
		<p>Ingredient Name</p> <%= i.text_field :name %><br>
		<br />
		<p>Unit</p> <%= select_tag "unit_id", options_from_collection_for_select(@units, "id", "name") %><br />
		<br />
		<p>Vegan <%= i.check_box "vegan" %></p><br	/>
		<p>Vegetarian <%= i.check_box "vegetarian" %></p><br	/>
		<p>Gluten Free <%= i.check_box "gluten_free" %></p><br	/>
		<p>Dairy Free <%= i.check_box "dairy_free" %></p><br	/>
		<p>Kosher <%= i.check_box "kosher" %></p><br	/>
	</div>
