<%= form_for(@ingredient) do |i| %>
	<div class="field">
		Label <%= i.label :ingredient %><br>
		Name <%= i.text_field :name %><br>
		Searchable <%= i.check_box :searchable %>
		<br />
		<%# Remove from /ingredients list? <%= i.check_box :hidden %>
	</div>
	<div class="actions">
		<%= i.submit "Save" %>
	</div>
<% end %>