<div class="main ingredient-index">
  <div class="container">
    <div class="list_block--collection--wrap">
      <div class="list_block--collection--sibling">
        <h1>Ingredients list</h1>
        <br />
        <%= link_to 'New Ingredient', ingredients_new_path %>
      </div>
      <div class="list_block--collection list_block--collection__tight">
        <% @ingredients.sort_by {|ingredient| ingredient.recipes.length}.reverse.each do |ingredient| %>

          <div class="list_block list_block__column">
            <div class="list_block--content">
              <div class="list_block--title">
                <h3><%= link_to ingredient.name, edit_ingredient_path(ingredient) %></h3>
              </div>
              <div style="width:100%;height:1em"></div>
              <h4>Default sizes</h4>
              <% if ingredient.default_ingredient_sizes.length > 0 %>
                <ul style="width: 100%;list-style: circle;padding-left: 2em;">
                  <% ingredient.default_ingredient_sizes.each do |size| %>
                    <li>
                      <p><%= standard_serving_size(size) %></p>
                    </li>
                  <% end %>
                </ul>
              <% else %>
                <p style="width:100%;font-style: italic;">No ingredient sizes</p>
              <% end %>
              <div style="width:100%;height:1em"></div>
              <h4>Dietary details</h4>
              <p style="width:100%">[<%= ingredient.vegan == true ? 'Vegan, ' : '' %><%= ingredient.vegetarian == true ? 'Vegetarian, ' : '' %><%= ingredient.dairy_free == true ? 'Dairy free, ' : '' %> <%= ingredient.gluten_free == true ? 'Gluten free, ' : '' %><%= ingredient.kosher == true ? 'Kosher' : '' %>]</p>
            </div>
          </div>

        <% end  %>
      </div>
    </div>
  </div>
</div>
