<div class="main ingredient-index">
  <div class="container">
    <div class="row">

      <%= link_to 'New Ingredient', ingredients_new_path %>

      <br />
      <br />
      <br />
      <% @ingredients.sort_by {|ingredient| ingredient.recipes.length}.reverse.each do |ingredient| %>

        <div class="ingredient col-xs-2">
          <%= link_to edit_ingredient_path(ingredient) do %>
            <h3><%= ingredient.name %></h3>
            <p>Default unit: <%= ingredient.unit.name %></p>
            <p>[<%= ingredient.vegan && 'Vegan, ' %><%= ingredient.vegetarian && 'Vegetarian, ' %><%= ingredient.dairy_free && 'Dairy free, ' %> <%= ingredient.gluten_free && 'Gluten free, ' %><%= ingredient.kosher && 'Kosher' %>]</p>
          <% end  %>
          <br />
          <br />
        </div>
        <br />
      <% end  %>

  </div>
</div>
