    <%= form_for(@ingredient) do |i| %>
      <div class="field">
        Label <%= i.label :ingredient %><br>
        Name <%= i.text_field :name %><br>
        <%= i.select :unit_id, Unit.all.collect { |unit| [ unit.name, unit.unit_number ] } %>
      </div>
      <div class="actions">
        <%= i.submit "Create" %>
      </div>
    <% end %>