<div class="main ingredient-show">
  <div class="container">
    
    <!-- Display an ingredient's info here -->
    <div class="ingredient">

      <div class="info">
        <h3 class="ingredient-name"><%= @ingredient.name %></h3>
        <%= link_to "Edit Ingredient", edit_ingredient_path(@ingredient) %>
      </div>
    </div>

    <% if @meals.first %>
      <h2>meals</h2>
      <!-- Display each meal's info here -->
      <% @meals.each do |meal| %>
      <div class="meal">

        <h3 class="meal-title"><%= meal.title %></h3>
        <%= link_to "Learn more", meal_path(meal) %>
      </div>
      <% end %>
    <% else %>
      <p>Ingredient not used in any meals. Check out <%= link_to "all meals", meals_path %>.</p>
    <% end %>

    <% if @cupboards.first %>
      <h2>Cupboard</h2>
      <!-- Display each location's info here -->
      <% @cupboards.each do |cupboard| %>
      <div class="meal">
        <h3 class="cupboard-location"><%= cupboard.location %></h3>
        <%= link_to "Learn more", cupboard_path(cupboard) %>
      </div>
      <% end %>
    <% else %>
      <p>Ingredient not currently in stock. Check everything <%= link_to "currently in stock", cupboards_path %>.</p>
    <% end %>
  
    <% if @portions.first %>
      <h2>Portion</h2>
      <!-- Display each location's info here -->
      <% @portions.each do |portion| %>
      <div class="meal">
        <h3 class="portion-amount"><%= portion.amount %> <%= portion.ingredient.unit %></h3>
      </div>
      <% end %>
    <% else %>
      <p>Portions not currently in stock. Check everything <%= link_to "currently in stock", cupboards_path %>.</p>
    <% end %>

  </div>
</div>
