    <%= form_for(@meal) do |f| %>  
      <div class="field"> 
        Label <%= f.label :meal %><br> 
        Name <%= f.text_field :title %><br>
        Image Src <%= f.text_field :image %> 
        Amount <%= f.text_field :amount %><br>
        Unit <%= f.text_field :unit %> 
      </div> 
      <div class="actions"> 
        <%= f.submit "Create" %> 
      </div> 
    <% end %>