<div class="main meal-show">
  <div class="container">
    <div class="meal">
      
      <!-- Display the meal's info here -->
      <div class="info">
        <%= image_tag @meal.image %>
        <h3 class="meal-title"><%= @meal.title %></h3>
        <%= link_to "Edit meal", edit_meal_path(@meal) %>
      </div>
    </div>

    <h2>Ingredients</h2>
    <!-- Display each ingredient's info here -->
		<% @ingredients.each do |ingredient| %>
    <div class="ingredient">
      ingredient_id 
      <h3 class="ingredient-name"><%= ingredient.name %></h3>
			<%= link_to "Learn more", ingredient_path(ingredient) %>
    </div>
		<% end %>

		<% @portions.each do |portion| %>
    <div class="portion-block">

      <%= portion.ingredient.name %>
      <br />
      <p class="portion"><%= portion.amount %><%= portion.ingredient.unit %></p>
      Hello
    </div>
		<% end %>

  </div>
</div>
