<div class="list_block">
	<div class="list_block--content">
		<div class="list_block--title">
			<h3>
				<% if current_user && current_user.shopping_lists.length > 0 && shopping_list_latest(shopping_list) == true %>
					<%= link_to "Current shopping list - ##{shoppingListIndex(shopping_list)}", shopping_list_ingredients_path(shopping_list) %>
				<% elsif current_user && current_user.shopping_lists.length > 0 %>
					<%= link_to "Shopping list - ##{shoppingListIndex(shopping_list)}", shopping_list_ingredients_path(shopping_list) %>
				<% end %>
			</h3>
		</div>
		<% if current_user && current_user.shopping_lists.length > 0 && shopping_list.recipes.first %>
			<% shopping_list.recipes.each do |recipe| %>
				<%= link_to recipe_path(recipe), class: "list_block--item" do %>
					<h4><%= recipe.title %></h4>
					<% if current_user.favourites.include?(recipe) %>
						<span class="icon">
							<%= icomoon('heart') %>
						</span>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>