<div class="list_block list_block__grid">
	<div class="list_block--title">
		<h3>
			<% if shopping_list_latest(shopping_list) == true %>
				<%= link_to "Current shopping list - ##{shoppingListIndex(shopping_list)}", shopping_list_ingredients_path(shopping_list) %>
			<% else %>
				<%= link_to "Shopping list - ##{shoppingListIndex(shopping_list)}", shopping_list_ingredients_path(shopping_list) %>
			<% end %>
		</h3>
	</div>
	<% if shopping_list.recipes.first %>
		<% shopping_list.recipes.each do |recipe| %>
			<%= link_to recipe_path(recipe), class: "list_block--item" do %>
				<h4><%= recipe.title %></h4>
				<% if current_user.favourites.include?(recipe) %>
					<span class="icon">
						<%= icomoon('heart') %>
					</span>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</div>