<% if params[:id].to_i == current_user.shopping_lists.last.id.to_i || current == true %>
  <% provide(:title, 'Current Shopping List Ingredients') %>
<% else %>
  <% provide(:title, 'Archived Shopping List Ingredients') %>
<% end %>

<div class="list_block--collection--wrap">
  <div class="list_block--collection--sibling list_block--collection--sibling_stack">
    <h3>Ingredients Key</h3>
    <ul class="list_block--collection--sibling--key_list">
      <li class="list_block--sibling--key--positive">This colour means you have enough of this ingredient in your cupboards</li>
      <li class="list_block--sibling--key--part_warning">This colour means you probably don't have enough of this ingredient in your cupboards, but check the percentage, you might be able to get away with it!</li>
      <li class="list_block--sibling--key--full_warning">This colour means you don't have this ingredient in your cupboards, so you'll need to get some of this</li>
    </ul>
  </div>
  <div class="list_block--collection--sibling">
    <%# will need to switch .last >> .last_updated when old shopping lists can be rehydrated after use %>
    <% if params[:id].to_i == current_user.shopping_lists.last.id.to_i || current == true %>
      <h2>Current Shopping List</h2>
    <% else %>
      <h2>Archived Shopping List</h2>
    <% end %>

    <div>
      <p>Ingredients</p>
      <%= link_to current_shopping_list_path, class: "switch--wrap" do %>
        <span class="switch status_on"></span>
        <p>Recipes</p>
      <% end %>
    </div>
  </div>
  <div class="list_block--collection">
    <div class="list_block list_block__grid list_block__full">
      <% shopping_list_portions.each do |sl_portion| %>
        <% if sl_portion.in_cupboard == true && sl_portion.enough_in_cupboard == true %>
          <div class="list_block--item list_block--item_stacked">
            <%= render 'shopping_list_item_partial', sl_portion: sl_portion %>
          </div>
        <% elsif sl_portion.in_cupboard == true && (sl_portion.plenty_in_cupboard == nil || sl_portion.plenty_in_cupboard == false) %>
          <div class="list_block--item list_block--item_stacked date-part-warning">
            <%= render 'shopping_list_item_partial', sl_portion: sl_portion %>
          </div>
        <% elsif sl_portion.in_cupboard == nil || sl_portion.in_cupboard == false  %>
          <div class="list_block--item list_block--item_stacked date-full-warning">
            <%= render 'shopping_list_item_partial', sl_portion: sl_portion %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="list_block--collection--sibling list_block--collection--sibling_stack">
		<h2>Shopping Mode</h2>
		<p>
			Ready to check these ingredients off and add to your cupboards?
			<%= link_to 'Start shop mode', shopping_lists_current_shop_path %>
		</p>
  </div>
</div>
