<% provide(:title, 'Your Shopping Lists') %>
<div class="main">
  <div class="container">
		<h2>All Shopping Lists</h2>
		<br/>
		<br/>
		<%= will_paginate(@shopping_lists) %>
		<% @shopping_lists.each_with_index do |shopping_list, index| %>
			<div class="shopping_list">
				<h3>Shopping List <%= link_to "##{shoppingListIndex(shopping_list)} (#{shopping_list.created_at.to_date.to_s(:long)})", shopping_list_path(shopping_list) %></h3>
				<% if shopping_list.recipes.first %>
					<% shopping_list.recipes.each do |recipe| %>
						<h4><%= recipe.title %></h4>
						<%= link_to "See Recipe Detail", recipe_path(recipe) %>
					<% end %>
				<% end %>
			</div>
		<br/>
		<br/>
		<% end %>
		<br/>
		<br/>
		<%= link_to "Make new Shopping List", shopping_lists_new_path %>
  </div>
</div>