<%= form_for(@shopping_lists) do |shopping_list| %>  
	<div class="field"> 
		Date <%= shopping_list.date_field :date_created %><br> 
	</div>

	<% recipes = Recipe.all %>

	<%= shopping_list.fields_for :recipes, recipes do |recipe| %>  
		// resource fields go here
		<%= recipe.label :title %>
		<br>
	<% end %> 



	<div class="actions"> 
		<%= shopping_list.submit "Create" %> 
	</div> 
<% end %>

