<%= form_for(@shopping_lists) do |shopping_list| %>  

	<div class="field"> 
		<%= hidden_field_tag :date_created, @current_date %><br> 
		<%= shopping_list.fields_for :recipes do |recipe| %>
			<%= hidden_field_tag :recipe_id, @recipe_pick %><br> 
		<% end %>
		<%= select("shopping_list", "recipes", Recipe.all.collect {|r| [ r.title, r.id ] }, {include_blank: 'None'}) %>
	</div>



	<div class="actions"> 
		<%= shopping_list.submit "Create" %> 
	</div> 
<% end %>

