<% provide(:title, 'Shopping List - Shop Mode') %>

<div class="list_block--collection--wrap">
  <div class="list_block--collection--sibling list_block--collection--sibling_stack">
    <%# will need to switch .last >> .last_updated when old shopping lists can be rehydrated after use %>
		<h2>Shopping List - Shop Mode</h2>
    <p>Now you're in 'Shop Mode' you can check off ingredients you need to add.
    <br/>
    You might already have ingredients in stock so be sure to check the colours (key at the bottom).
    </p>
    <p>Only the items you check off will get added to your cupboards.</p>
  </div>
  <div class="list_block--collection">
    <%= form_tag({controller: "shopping_lists", action: "shopping_list_to_cupboard" }, class: "list_block list_block__grid list_block__full",  method: :post) do %>
      <% @portions_hash.each_with_index do |(key, values), index| %>
        <% if values["in_cupboard"] == true && values["enough_in_cupboard"] == true %>
          <%= check_box_tag "shopping_list_item[#{values["ingredient_id"]}][#{values["unit_number"]}]", "#{values["portion_amount"]}", false %>
          <%= label_tag "shopping_list_item[#{values["ingredient_id"]}][#{values["unit_number"]}]", class: 'list_block--item list_block--item_stacked list_block--item__shop_mode' do %>
            <%= render 'shopping_list_item_partial', key: key, values: values %>
          <% end %>
        <% elsif values["in_cupboard"] == true && (!values.key?("plenty_in_cupboard") || values["plenty_in_cupboard"] == false) %>
          <%= check_box_tag "shopping_list_item[#{values["ingredient_id"]}][#{values["unit_number"]}]", "#{values["portion_amount"]}", false %>
          <%= label_tag "shopping_list_item[#{values["ingredient_id"]}][#{values["unit_number"]}]", class: 'list_block--item list_block--item_stacked list_block--item__shop_mode date-part-warning' do %>
            <%= render 'shopping_list_item_partial', key: key, values: values %>
          <% end %>
        <% elsif values["in_cupboard"] == false %>
          <%= check_box_tag "shopping_list_item[#{values["ingredient_id"]}][#{values["unit_number"]}]", "#{values["portion_amount"]}", false %>
          <%= label_tag "shopping_list_item[#{values["ingredient_id"]}][#{values["unit_number"]}]", class: 'list_block--item list_block--item_stacked list_block--item__shop_mode date-full-warning' do %>
            <%= render 'shopping_list_item_partial', key: key, values: values %>
          <% end %>
        <% end %>
      <% end %>
      <hr class="list_block--form--divider">
      <break></break>
      <hr class="list_block--form_action--title--divider">
      <h3 class="list_block--form_action--title">Move to cupboards now?</h3>
      <p class="list_block--form_action--sub_title">Should only take a couple of minutes</p>
      <%= button_tag "Yep I've got time", name: nil, class: 'list_block--form_action' %>
      <%# <% button_tag "I'll do it later" %>
    <% end %>
  </div>
  <div class="list_block--collection--sibling list_block--collection--sibling_stack">
    <h3>Ingredients Key</h3>
    <ul class="list_block--collection--sibling--key_list">
      <li class="list_block--sibling--key--positive">This colour means you have enough of this ingredient in your cupboards</li>
      <li class="list_block--sibling--key--part_warning">This colour means you probably don't have enough of this ingredient in your cupboards, but check the percentage, you might be able to get away with it!</li>
      <li class="list_block--sibling--key--full_warning">This colour means you don't have this ingredient in your cupboards, so you'll need to get some of this</li>
    </ul>
  </div>
</div>
