<div class="main shopping_list-show">
  <div class="container">
    <div class="shopping_list_ingredients">

    <% @ingredients.each do |ingredient| %>
      <p>
        <%= ingredient.name %>
      </p>
    <% end %>
<br />
<br />
<br />
<br />

    <% @stock.each do |stock| %>
      <p><%= stock.ingredient.name %> <%= stock.amount %> <%= stock.unit.name %></p>
    <% end %>

    <br />
    <br />
    <br />
    <br />
    <% @portions.each do |portion| %>
      <p><%= portion.ingredient.name %> <%= portion.amount %> <%= portion.unit.name %></p>
    <% end %>
    </div>
    <br />
    <br />
    <br />
    <br />

    <% @portions_hash.each do |key, values| %>
      <p><%= key %></p>
      <p><%= values["amount"] %></p>
      <p><%= Unit.where(unit_number: values["unit"].to_i).first.name %></p>
      <br />
    <% end %>
    <br />
    <br />
    <br />
    <br />

    <div class="shopping_list">

      <!-- Display the shopping_list's info here -->
      <div class="info">
				<h3>Shopping List - #<%= shoppingListIndex(@shopping_list) %> (<%= @shopping_list.created_at.to_date.to_s(:long) %>)</h3>
      </div>
    </div>

    <%= link_to "See Recipes in this Shopping List", shopping_list_path(@shopping_list) %>

<br>
<br>
<br>
    <%= link_to "Edit", edit_shopping_list_path(@shopping_list.id) %>

  </div>
</div>
