<% if params[:id].to_i == current_user.shopping_lists.last.id.to_i %>
  <% provide(:title, 'Current Shopping List') %>
<% else %>
  <% provide(:title, 'Archived Shopping List') %>
<% end %>

<div class="list_block--collection--wrap">
  <div class="list_block--collection--sibling">
    <%# will need to switch .last >> .last_updated when old shopping lists can be rehydrated after use %>
    <% if params[:id].to_i == current_user.shopping_lists.last.id.to_i %>
      <h2>Current Shopping List</h2>
    <% else %>
      <h2>Archived Shopping List</h2>
    <% end %>

    <div>
      <%= link_to shopping_list_ingredients_path(@shopping_list), class: "switch--wrap" do %>
        <p>Ingredients</p>
        <span class="switch status_off"></span>
      <% end %>
      <p>Recipes</p>
    </div>
  </div>
  <div class="list_block--collection">
    <div class="list_block list_block__grid list_block__full">
      <%# could use the exact same function from cupboard index edit to edit shopping list %>
      <% @recipes.each do |recipe| %>
        <%= link_to recipe_path(recipe), class: "list_block--item list_block--item_stacked list_block--item_show" do %>
          <h4><%= recipe.title %></h4>
          <% if current_user.favourites.include?(recipe) %>
            <span class="icon">
              <%= icomoon('heart') %>
            </span>
          <% end %>
        <% end %>
        <%= check_box_tag "recipe_id[]", value = "#{recipe.id}", checked = false, id: "recipe_#{recipe.id}", class: "list_block--item_edit--checkbox" %>
        <%= label_tag "recipe_#{recipe.id}", class: "list_block--item list_block--item_stacked list_block--item_edit" do %>
          <span class="list_block--item_edit_marker"><%= icomoon('bin') %></span>
          <p><%= recipe.title %></p>
          <% if current_user.favourites.include?(recipe) %>
            <span class="icon">
              <%= icomoon('heart') %>
            </span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>