<% provide(:title, 'Shopping List') %>
<div class="list-block--collection--wrap">
  <div class="list_block--collection">
    <div class="list_block list_block__grid list_block__full">
      <% @portions_hash.each do |key, values| %>
        <% if values["in_cupboard"] == true && values["enough_in_cupboard"] == true %>
          <div class="list_block--item list_block--item_stacked">
            <%= render 'shopping_list_item_partial', key: key, values: values %>
          </div>
        <% elsif values["in_cupboard"] == true && (!values.key?("plenty_in_cupboard") || values["plenty_in_cupboard"] == false) %>
          <div class="list_block--item list_block--item_stacked date-part-warning">
            <%= render 'shopping_list_item_partial', key: key, values: values %>
          </div>
        <% elsif values["in_cupboard"] == false %>
          <div class="list_block--item list_block--item_stacked date-full-warning">
            <%= render 'shopping_list_item_partial', key: key, values: values %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

    <div class="shopping_list">

      <!-- Display the shopping_list's info here -->
      <div class="info">
				<h3>Shopping List - #<%= shoppingListIndex(@shopping_list) %> (<%= @shopping_list.created_at.to_date.to_s(:long) %>)</h3>
      </div>
    </div>

    <%= link_to "See Recipes in this Shopping List", shopping_list_path(@shopping_list) %>

<br>
<br>
<br>
    <%= link_to "Edit", edit_shopping_list_path(@shopping_list.id) %>

  </div>
</div>
