<div class="main shopping_list-show">
  <div class="container">
    <div class="shopping_list">
      
      <!-- Display the shopping_list's info here -->
      <div class="info">
				<h3>Shopping List - #<%= shoppingListIndex(@shopping_list) %> (<%= @shopping_list.created_at.to_date.to_s(:long) %>)</h3>
      </div>
    </div>

    <%= link_to "See Recipes in this Shopping List", shopping_list_path(@shopping_list) %>

    <% if @shopping_list_portions.first %>

      <% @ingredient_ids_set.each do |ingredient_id| %>
        <p><%= shopping_list_portions_output(ingredient_id, @shopping_list.id) %></p>
        <p><%= stock_in_cupboard_proportion(ingredient_id, @shopping_list.id, @cupboard_stock_ids) %></p>
        <br>
      <% end %>


    <% else %>
      <p>Shopping List currently empty.</p>
    <% end %>
<br>
<br>
<br>
    <%= link_to "Edit", edit_shopping_list_path(@shopping_list.id) %>

  </div>
</div>
