<div class="main shopping_list-show">
  <div class="container">
    <div class="shopping_list_ingredients">

      <% unless not_in_stock_array.empty? %>
        <h2>Ingredients not in stock</h2>
        <% not_in_stock_array.each do |ingredient_id| %>
          <p><%= Ingredient.find(ingredient_id).name %></p>
        <% end %>
      <% end %>

      <% unless not_enough_in_stock_array.empty? %>
        <h2>Ingredients in stock, but not enough of</h2>
        <% not_enough_in_stock_array.each do |ingredient_id| %>
          <p><%= Ingredient.find(ingredient_id).name %></p>
        <% end %>
      <% end %>

      <% unless enough_in_stock_array.empty? %>
        <h2>Ingredients in stock</h2>
        <% enough_in_stock_array.each do |ingredient_id| %>
          <p><%= Ingredient.find(ingredient_id).name %></p>
        <% end %>
      <% end %>

      <% unless loads_in_stock_array.empty? %>
        <h2>Ingredients in stock lots of surplus</h2>
        <% loads_in_stock_array.each do |ingredient_id| %>
          <p><%= Ingredient.find(ingredient_id).name %></p>
        <% end %>
      <% end %>
    </div>
    <br />
    <br />
    <br />
    <br />

    <div class="shopping_list">

      <!-- Display the shopping_list's info here -->
      <div class="info">
				<h3>Shopping List - #<%= shoppingListIndex(@shopping_list) %> (<%= @shopping_list.created_at.to_date.to_s(:long) %>)</h3>
      </div>
    </div>

    <%= link_to "See Recipes in this Shopping List", shopping_list_path(@shopping_list) %>

<br>
<br>
<br>
    <%= link_to "Edit", edit_shopping_list_path(@shopping_list.id) %>

  </div>
</div>
