<style>
	.static_pages_controller [data-name="feedback-form-wrapper"],
	.static_pages_controller [data-name="feedback-form-label"] {
		display: none;
	}

	#feedback_form_button:checked ~ [data-name="feedback-form-wrapper"] {
		max-height: 30rem;
	}

	#feedback_form_button:checked + [data-name="feedback-form-label"] {
		background-color: var(--teal-10);
	}

</style>

<% if user_signed_in? %>
	<div class="flex flex-col z-10">
		<input type="checkbox" class="hidden_checkbox" id="feedback_form_button" value="" />
		<label for="feedback_form_button"
				data-name="feedback-form-label"
				class="cursor-pointer border border-solid border-primary-400 border-r-0 border-b-0 p-4 mt-8 bg-white ml-auto">Something wrong with this page?</label>
		<div data-name="feedback-form-wrapper" class="border-0 border-t border-solid border-primary-400 bg-white flex max-h-0 overflow-hidden w-full justify-center transition-height duration-300 ease-in-out">
			<%= form_tag(feedback_submit_path, method: :post, class: "flex flex-wrap py-10 w-full standard-wrapper", style: "max-width:66rem") do %>
				<%= label_tag "issue_details", "Let us know the details and we'll get it sorted", class: "w-full mb-6" %>
				<%= text_area_tag "issue_details", nil,
						rows: 5, placeholder: "There was a problem when I clicked a button....", required: true,
						class: "border border-solid border-gray-600 rounded px-2 py-3 mb-6 w-full",
						style: "max-height: 18rem" %>
				<%= hidden_field_tag "current_path", request.path %>
				<%= button_tag "Submit",
						class: "ml-auto list_block--collection--action" %>
			<% end %>
		</div>
	</div>
<% end %>