<footer>
	<% if user_signed_in? %>
		<input type="checkbox" class="feedback_form_button hidden_checkbox" id="feedback_form_button" value="" />
		<label for="feedback_form_button" class="feedback_form_label">Something wrong with this page?</label>
		<div class="footer_feedback_form--wrapper">
			<%= form_tag(url: feedback_submit_path, id: "footer-feedback-form",  method: :post) do %>
				<%= label_tag "issue_details", "Let us know the details and we'll get it sorted" %>
				<%= text_area_tag "issue_details", nil,  cols: 60, rows: 5, placeholder: "There was a weird problem when I clicked a button...." %>
				<%= hidden_field_tag "current_path", request.path %>
				<%= button_tag "Submit", class: "list_block--collection--action" %>
			<% end %>
		</div>
	<% end %>
	<div class="footer_inner">
		<ul>
			<li>
				<%= link_to 'Our Roadmap ðŸ›£', 'https://trello.com/b/5mJZ882b/stockcubes-roadmap-work-in-progress', target: "_blank" %>
			</li>
			<li>
				<%= link_to 'Twitter Profile ðŸ“¢', 'https://twitter.com/stock_cubes', target: "_blank" %>
			</li>
			<li>
				<%= link_to 'Send us Feedback ðŸ‘‚', 'mailto:team@getstockcubes.com?subject=Feedback', target: "_blank" %>
			</li>
			<li>
				<%= link_to 'Buy us a coffee â˜•ï¸', 'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=BVCUKWNAAMH5L&source=url', target: "_blank" %>
			</li>
		</ul>
	</div>
</footer>