<div class="header-nav-banner">
  <%
    current_section = request.path_parameters[:controller]
    current_user && current_user.cupboards.where(setup: true, hidden: false).length > 0 ? update_cupboard = current_user.cupboards.where(setup: true, hidden: false).last : update_cupboard = false
    current_user && current_user.shopping_lists.length > 0 && current_user.shopping_lists.last.archived == false && current_user.shopping_lists.last.recipes.length != 0 && current_user.shopping_lists.last.shopping_list_portions.where(checked: true).length > 0 ? shop_mode = true : shop_mode = false
    current_user && CupboardUser.where(user_id: current_user.id, accepted: false).length > 0 ? cupboard_invites = true : cupboard_invites = false
    shop_mode || update_cupboard || cupboard_invites ? notification_count = true : notification_count = false # true = red icon shows up, integer = red icon with number shows up
  %>
  <% if current_user && current_user.demo == true %>
    <div class="site_notice">
      <p>Site currently in Demo mode</p>
    </div>
  <% end %>
  <header id="top" role="banner">
    <div class="block">
      <% if logged_in? && current_user %>
        <%= link_to "Site Navigation", href: "#nav", id: "nav-open-btn", class: "nav-btn open-btn svg-btn", data: { turbolinks: 'false' } do %>
          <%= icomoon('menu') %>
        <% end %>
      <% end %>

      <h1><%= icomoon('logo') %>
      <%= link_to "Stockcubes", root_path, id: "logo" %></h1>
      <% if not logged_in? && current_user %>
          <%= link_to login_path, class: "profile_item" do %>
            <p>Sign in</p>
            <%= render './layouts/account_nav_item_fake_partial', current_section: current_section %>
          <% end %>
          <%= link_to signup_path, class: "profile_item" do %>
            <p>Sign up</p>
          <% end %>
      <% elsif current_user.demo == true %>
        <span class="profile_item demo_mode">
          <%= render './layouts/account_nav_item_fake_partial', current_section: current_section %>
        </span>
      <% else %>
        <%= render './layouts/account_nav_item_partial', current_section: current_section, notifications: notification_count %>
      <% end %>
    </div>
  </header>

  <nav id="nav" role="navigation">
    <div class="block">
    <h1><%= icomoon('logo') %><%= link_to "Stockcubes", root_path, id: "logo" %></h1>
      <h2 class="block-title">Sections</h2>
      <ul>
      <% if logged_in? && current_user %>
        <li class="<% current_section == 'recipes' ? 'current_section' : ''%>"><%= link_to "Recipes", recipes_path %>
        </li><% end %><!--
      --><% if logged_in? && current_user && current_user.admin %><!--
        --><li <% if current_section == "ingredients" %>class="current_section"<% end %>><%= link_to "Ingredients", ingredients_path %></li><!--
      --><% end %><!--
      -->
      <script>
        console.log('logged in status: ' + <%= logged_in?.to_s %>);
        console.log('current_user status: ' + <%= (!!current_user).to_s %>);
        console.log('current_user.shopping_lists.last.archived == false status: ' + <%= (current_user.shopping_lists.last.archived == false).to_s %>);
        console.log('current_user.shopping_lists.last.recipes.length != 0 status: ' + <%= (current_user.shopping_lists.last.recipes.length != 0).to_s %>);
      </script>
      <% if logged_in? && (!!current_user) && (current_user.shopping_lists.last.archived == false) && (current_user.shopping_lists.last.recipes.length != 0) %><!--
        --><li<% if request.path_parameters[:controller] == "shopping_lists" %> class="current_section"<% end %>><!--
          --><% if current_user.shopping_lists.last.shopping_list_portions.where(checked: true).length > 0 %><!--
            --><%= link_to "Current shopping list", shopping_lists_current_shop_path %><!--
          --><% else %><!--
            --><%= link_to "Current shopping list", current_shopping_list_ingredients_path %><!--
          --><% end %><!--
        --></li><!--
      --><% end %><% if logged_in? && current_user %><!--
      --><li <% if current_section == "cupboards" %>class="current_section"<% end %>><%= link_to "Cupboards", cupboards_path %></li><% end %>
      </ul>
      <% if not logged_in? && current_user %>
        <%= link_to login_path, class: "profile_item" do %>
          <p>Sign in</p>
          <%= render './layouts/account_nav_item_fake_partial', current_section: current_section %>
        <% end %>
        <%= link_to signup_path, class: "profile_item profile_item__sign_up" do %>
          <p>Sign up</p>
        <% end %>
      <% elsif current_user.demo == true %>
        <span class="profile_item demo_mode">
          <p>Demo</p>
          <span class="account-btn">
            <%= icomoon('user') %>
          </span>
        </span>
      <% else %>
        <%= render './layouts/account_nav_item_partial', current_section: current_section, notifications: notification_count %>
      <% end %>
      <%= link_to "Return to Content", href: "#top", id: "nav-close-btn", class: "nav-btn close-btn svg-btn", data: { turbolinks: 'false' } do %>
        <%= icomoon('close') %>
      <% end %>
    </div>
  </nav>
</div>
