<%
	if defined?(shopping_list)
		shopping_list_portions = shopping_list_portions(shopping_list)
	else
		shopping_list_portions = shopping_list_portions(nil)
	end
%>

<div class="planner_shopping_list--inner">
	<div class="title_block">
		<h2>Shopping List <% if shopping_list_portions.length > 0 %>(<%= checked_portions %>/<%= shopping_list_portions.length %>)<% end %></h2>
		<% if shopping_list_portions.length > 0 %><p class="h6 item_form--content_item_note"><%= icomoon('information-outline')%> Checking off items adds them to <%= current_user ? (link_to "your cupboard", cupboards_path) : "the cupboard" %> automatically (and they'll disappear from the list in 24 hours)</p><% end %>

		<% if current_user && !defined?(shopping_list) && shopping_list_portions.length > 0 %>
			<%= link_to shopping_list_share_path(gen_id: current_user.planner_shopping_list.gen_id), title: "View and share shopping list", class: "planner_shopping_list--fullscreen_btn" do %>
				<%= icomoon('fullscreen') %>
			<% end %>
		<% elsif defined?(shopping_list) && params.has_key?(:gen_id) %>
			<% page_link = "https://getstockcubes.com/list/" + params[:gen_id].to_s %>
			<div class="planner_shopping_list--sharing_info">
				<input type="text" readonly value="<%= page_link %>">
				<p class="h6 item_form--content_item_note"><%= icomoon('information-outline')%> This is your sharing link, anyone who has access can tick off your shopping list items</p>
			</div>
		<% end %>
	</div>
	<% if shopping_list_portions.length == 0 %>
		<ul><p>Shopping List is currently empty, move some recipes to <%= link_to 'your planner', planner_path %> to get items added to this list</p></ul>
	<% else %>
		<ul class="planner_sl-recipe_list">
			<% shopping_list_portions.each do |portion| %>
				<%
					if portion.class.name == 'PlannerPortionWrapper'
						if portion.combi_planner_shopping_list_portion != nil
							num_assoc_recipes = portion.combi_planner_shopping_list_portion.planner_shopping_list_portions.length
							portion_title = 'Combi portion (' + num_assoc_recipes.to_s + 'recipes)'
						else
							portion_title = 'Recipe portion - ' + portion.planner_shopping_list_portion.planner_recipe.recipe.title
						end
					elsif portion.class.name == "CombiPlannerShoppingListPortion"
						num_assoc_recipes = portion.planner_shopping_list_portions.length
						portion_title = 'Combi portion (' + num_assoc_recipes.to_s + 'recipes)'
					elsif portion.class.name == "PlannerShoppingListPortion"
						portion_title = 'Recipe portion - ' + portion.planner_recipe.recipe.title
					else
						portion_title = 'Recipe portion'
					end

				 %>
				<li id="<%= planner_portion_id_hash.encode(portion.id) %>" class="shopping_list_portion <%= portion.class.name == "CombiPlannerShoppingListPortion" ? 'combi_portion' : 'individual_portion' %> <%= portion.checked ? 'portion_checked' : '' %>">
					<h6 class="mb-2"><%= portion_title %></h6>
					<p>
						<label>
							<%= check_box_tag "planner_shopping_list_portions_add[#{planner_portion_id_hash.encode(portion.id)}]", "planner_shopping_list_portions_add", false, class: "" %>
							<%= standard_serving_description(portion) %>
						</label>
					</p>
					<hr />
				</li>
			<% end %>
		</ul>
	<% end %>
	<div class="shop_online_block">
		<% if shopping_list_portions.length == 0 %>
			<button id="view-whisk-list" class="list_block--collection--action">Open online shopping list</button>
		<% else %>
			<button id="whisk-add-products" class="list_block--collection--action">Add to online shopping list</button>
		<% end %>
	</div>
</div>