<!DOCTYPE html>
<html class="no-js">
  <head>
    <% if Rails.env.production? %>
      <% if request.host == 'demo.getstockcubes.com' %>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-K7P9J4B');</script>
        <!-- End Google Tag Manager -->
      <% else %>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5M8HKTS');</script>
        <!-- End Google Tag Manager -->
      <% end %>
    <% elsif Rails.env.staging? %>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MJMMCG3');</script>
      <!-- End Google Tag Manager -->
    <% end %>

    <title><%= !yield(:title).to_s.blank? ? (yield(:title).to_s + ' | ') : '' %>Stockcubes</title>

    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="<%= yield(:title) %> | Stockcubes" />
    <meta property="og:image"              content="<%= asset_pack_path('assets/favicons/stockcubes_fb_tile.jpg')%>" />

    <meta name="google-signin-client_id" content="12687063408-vr45rsrjrjsspu9819f64rro5ouh16pf.apps.googleusercontent.com">

    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="shortcut icon" href="<%= asset_pack_path('assets/favicons/favicon.ico') %>" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= asset_pack_path('assets/favicons/apple-touch-icon-57x57.png')%>" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_pack_path('assets/favicons/apple-touch-icon-114x114.png')%>" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_pack_path('assets/favicons/apple-touch-icon-72x72.png')%>" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= asset_pack_path('assets/favicons/apple-touch-icon-144x144.png')%>" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="<%= asset_pack_path('assets/favicons/apple-touch-icon-60x60.png')%>" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= asset_pack_path('assets/favicons/apple-touch-icon-120x120.png')%>" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="<%= asset_pack_path('assets/favicons/apple-touch-icon-76x76.png')%>" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= asset_pack_path('assets/favicons/apple-touch-icon-152x152.png')%>" />
    <link rel="icon" type="image/png" href="<%= asset_pack_path('assets/favicons/favicon-196x196.png')%>" sizes="196x196" />
    <link rel="icon" type="image/png" href="<%= asset_pack_path('assets/favicons/favicon-96x96.png')%>" sizes="96x96" />
    <link rel="icon" type="image/png" href="<%= asset_pack_path('assets/favicons/favicon-32x32.png')%>" sizes="32x32" />
    <link rel="icon" type="image/png" href="<%= asset_pack_path('assets/favicons/favicon-16x16.png')%>" sizes="16x16" />
    <link rel="icon" type="image/png" href="<%= asset_pack_path('assets/favicons/favicon-128.png')%>" sizes="128x128" />
    <meta name="application-name" content="Stockcubes"/>
    <meta name="msapplication-TileColor" content="#AAE2DE" />
    <meta name="theme-color" content="#AAE2DE">
    <meta name="msapplication-TileImage" content="<%= asset_pack_path('assets/favicons/mstile-144x144.png')%>" />
    <meta name="msapplication-square70x70logo" content="<%= asset_pack_path('assets/favicons/mstile-70x70.png')%>" />
    <meta name="msapplication-square150x150logo" content="<%= asset_pack_path('assets/favicons/mstile-150x150.png')%>" />
    <meta name="msapplication-wide310x150logo" content="<%= asset_pack_path('assets/favicons/mstile-310x150.png')%>" />
    <meta name="msapplication-square310x310logo" content="<%= asset_pack_path('assets/favicons/mstile-310x310.png')%>" />

    <% if Rails.env.development? %>
      <%= javascript_pack_tag 'tota11y' %>
    <% end %>
    <%= javascript_pack_tag 'modernizr-custom' %>
    <%= stylesheet_pack_tag 'import' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="<%= controller_name %>_controller <%= action_name %>_page">
    <% if Rails.env.production? %>
      <% if request.host == 'demo.getstockcubes.com' %>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K7P9J4B"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
      <% else %>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5M8HKTS"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
      <% end %>
    <% elsif Rails.env.staging? %>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJMMCG3"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <% end %>
    <div id="outer-wrap">
      <div id="inner-wrap">
        <%= render 'layouts/header' %>
        <% if flash.first != nil %>
          <div class="alert_group">
            <% flash.each do |message_type, message| %>
              <div class="alert_wrapper <%= message_type.to_s == 'sticky_recipe' ? 'alert_hide' : ''%>">
                <div class="alert alert-<%= message_type %> <%= message_type.to_s == 'sticky_recipe' ? 'alert-sticky' : ''%>">
                  <% if message_type.to_s == 'sticky' || message_type.to_s == 'sticky_recipe' %>
                    <span class="alert_close_btn dismiss_no_update">&#735;</span>
                  <% end %>
                  <%= message.html_safe %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <main>
          <%= yield %>
          <%= debug(params) if Rails.env.development? %>
        </main>
        <%= render 'layouts/footer' %>
      </div><%#-- inner-wrap --%>
    </div><%#-- outer-wrap --%>
  </body>
</html>
